{% liquid
  #Snippet Parameters
  assign collection_settings = section.settings
  assign collection_size = collection.all_products_count
  assign featured_block_title_color = collection_settings.title_color | default: '#fff'
  assign featured_block_badge_color = collection_settings.badge_color | default: '#000'
  assign featured_block_badge_bg_color = collection_settings.badge_background_color | default: '#ffffff'
  assign featured_row_position = collection.metafields.custom.featured_block_row_position.value
  assign featured_column_position = collection.metafields.custom.featured_block_column_position.value
  assign featured_block_desktop = collection.metafields.custom.desktop_featured_block.value
  assign featured_block_mobile = collection.metafields.custom.featured_block_mobile.value
  assign featured_block_logo = collection.metafields.custom.featured_block_logo.value
  assign featured_block_description = collection.metafields.custom.featured_block_description
  assign featured_block_button_label = collection.metafields.custom.featured_block_button_label
  assign featured_block_button_url = collection.metafields.custom.featured_block_button_url
  assign smp_colors = shop.metaobjects['smp_tags']['color'].tags.value | split: ','

  if featured_row_position > collection_size
    assign featured_row_position = collection_size
  endif
  assign items = items | default: grid
  assign featured_block = false
  #Snippet Parameters
  assign grid_limit = grid_limit | default: 24
  assign grid_align = grid_align | default: 'left'
  assign grid_items_per_row = grid_items_per_row | default: '' | split: ', '

  if featured_block_desktop != blank
    capture featured_block_image_sizes
    render 'print-image-sizes' with featured_block_desktop
    endcapture
    if featured_block_mobile != blank
      capture featured_block_mobile_image_sizes
      render 'print-image-sizes' with featured_block_mobile
      endcapture
    endif
    assign featured_block = true
  endif
%}

{% if featured_block == true %}
{%- capture featured_block_content -%}
<div class="Grid-featured-block" style="grid-row: {{ featured_row_position }};"><div class="Grid-featured-block-content">
  <div class="{% if featured_block_mobile != blank %}u-showMd{% endif %} lazyload Grid-featured-block-background" data-bgset="{{ featured_block_image_sizes }}" data-sizes="auto"></div>
  {% if featured_block_mobile != blank %}
    <div class="u-hideMd lazyload Grid-featured-block-background" data-bgset="{{ featured_block_mobile_image_sizes }}" data-sizes="auto"></div>
  {% endif %}
  <div class="Grid-featured-block-elements">
  {%- if featured_block_logo != blank -%}<img alt="Logo image" src="{{ featured_block_logo | img_url: 'master' }}" width="{{ featured_block_logo.width | divided_by: 2 }}" height="{{ featured_block_logo.height | divided_by: 2 }}" loading="lazy" />{%- endif -%}{%- if featured_block_description != blank -%}<p>{{ featured_block_description }}</p>{%- endif -%}{%- if featured_block_button_label != blank and featured_block_button_url != blank -%}<a href="{{ featured_block_button_url }}">{{ featured_block_button_label }}</a>{%- endif -%}</div></div><style>.Grid-featured-block {grid-column: {{ featured_column_position }};}.Grid-featured-block-content p{color: {{ featured_block_title_color }}}.Grid-featured-block-content span{color: {{ featured_block_badge_color }}; background-color: {{ featured_block_badge_bg_color }}}@media screen and (max-width: 64em){.Grid-featured-block {grid-column: 1 / span 2;} }</style>
</div>
{%- endcapture -%}
{% endif %}
{% capture grid_classes %}
  Grid
  {{ grid_align | handle | capitalize | prepend: 'Grid--align' }}
  {% for suffix in grid_items_per_row %}
  {{ suffix | prepend: 'Grid--itemsPerRow-' | append: ' ' }}
  {% endfor %}
{% endcapture %}
{%- paginate collection.products by grid_limit -%}
  <div id="Collection-ajaxinate" class="{{ grid_classes | strip_newlines | strip }}">
    {%- for product in collection.products -%}
      <div class="Grid-item">
        {%- render 'product-card', product: product, smp_colors: smp_colors, title_tag: 'h2' -%}
      </div>
    {%- endfor -%}
    {% if featured_block == true %}
      {{ featured_block_content }}
    {% endif %}
  </div>
  {%- render 'pagination', paginate: paginate -%}
{%- endpaginate -%}
