{%- comment -%}
  Collection sort options
  Renders sort by radio buttons

  @param {array} sort_options - Array of sort options from collection.sort_options
  @param {string} current_sort - Currently selected sort value
{%- endcomment -%}

{%- liquid
  assign current_sort = current_sort | default: collection.default_sort_by
-%}

<div class="Collection__filters__sort-by">
  <fieldset>
    <legend class="sr-only">Sort by</legend>
    <ul
      role="radiogroup"
      aria-labelledby="sort-by-legend"
      class="Collection__filters__sort-by-list"
    >
      {%- for option in sort_options -%}
        {%- liquid
          assign is_active = false
          if option.value == current_sort
            assign is_active = true
          endif
        -%}
        <li class="focus-toggleable" data-sort-option>
          <input
            class="Collection__filters__radio__hidden"
            type="radio"
            role="radio"
            aria-checked="{{ is_active }}"
            aria-label="{{ option.name }}"
            tabindex="-1"
            name="sort_by"
            value="{{ option.value }}"
            {% if is_active %}
              checked
            {% endif %}
            data-filter-sort
          >
          <label
            for="{{ option.name | handle }}"
            tabindex="-1"
            title="{{ option.name }}"
            class="event-collectionFilter"
          >
            <div class="Collection__filters__radio__wrapper">
              <div
                class="Collection__filters__radio{% if is_active %} Collection__filters__radio__checked{% endif %}"
              ></div>
              <span>{{ option.name }}</span>
            </div>
          </label>
        </li>
      {%- endfor -%}
    </ul>
  </fieldset>
</div>
