{%- comment -%}
  Collection color swatch filter
  Renders color swatch filters for a filter group

  @param {object} filter - The Shopify filter object
  @param {string} title - Display title for the filter
  @param {object} smp_meta - SMP color metadata object
{%- endcomment -%}

{%- liquid
  assign active_count = 0
  for value in filter.active_values
    assign active_count = active_count | plus: 1
  endfor

  if title == blank
    assign title = filter.label
  endif

  assign display_title = title
  if active_count > 0
    assign display_title = title | append: ' (' | append: active_count | append: ')'
  endif
-%}

{%- capture filter_content -%}
  <div class="Collection__filters__swatch__block">
    <h4 class="Collection__filters__swatch__title">{{ display_title }}</h4>
    <ul class="Collection__filters__swatch__list">
      {%- for value in filter.values -%}
        {%- liquid
          assign is_active = value.active
          assign is_disabled = value.count = 0
          assign input_id = 'filter-' | append: value.value | handle
          assign color_name = value.label
          assign color_icon = nil

          # Try to get color metadata from SMP
          if smp_meta != blank and smp_meta[value.label] != blank
            assign smp_color = smp_meta[value.label] | first
            if smp_color != blank
              assign color_name = smp_color.color_name | default: value.label
              assign color_icon = smp_color.color_icon
            endif
          endif
        -%}

        <li class="Collection__filters__swatch__item{% if is_disabled %} Collection__filters__swatch__item__disabled{% endif %}">
          <input
            tabindex="-1"
            class="Collection__filters__swatch__hidden"
            type="checkbox"
            name="{{ filter.param_name }}"
            value="{{ value.value }}"
            id="{{ input_id }}"
            title="{{ color_name }}"
            {% if is_active %}checked{% endif %}
            {% if is_disabled %}disabled{% endif %}
            data-filter-swatch
          />
          <label
            tabindex="0"
            for="{{ input_id }}"
            title="Color {{ color_name }}"
          >
            <div
              class="Collection__filters__swatch__wrapper{% if is_active %} Collection__filters__swatch__wrapper__checked{% endif %}{% if color_icon %} lazyload{% endif %}"
              {% if color_icon %}data-bgset="{{ color_icon }}" data-sizes="auto"{% endif %}
              {% unless color_icon %}style="background-color: {{ value.label | handle }};"{% endunless %}
              title="Color {{ color_name }}"
            ></div>
            <span class="sr-only">Color: {{ color_name }}</span>
          </label>
        </li>
      {%- endfor -%}
    </ul>
  </div>
{%- endcapture -%}

{%- render 'collection-filter-group',
  title: 'Color Collections',
  is_expanded: false,
  type: 'swatch',
  filter_id: filter.param_name,
  content: filter_content
-%}
