{% capture large_image_markup %}
  {%- if image != blank -%}
    {%- capture image_sizes -%}
      {%- render 'print-image-sizes' with image -%}
    {%- endcapture -%}
    {%- capture image_spacing -%}
      {% render 'image-spacer', image: image %}
    {%- endcapture -%}
  {%- endif -%}

  {% if remove_spacing == true or remove_spacing_desktop == true %}
    {%- capture image_spacing -%}{%- endcapture -%}
  {% endif %}

  <div class="o-image o-image--desktop o-placeholder" style="overflow: hidden; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;">
    <div style="width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; {{ image_spacing }}"></div>
    <img
      class="{% if image != blank and ignore_lazyload != true %}lazyload{% endif %}"
      src="{{ image | image_url: width: 600 }}"
      decoding="async"
      data-nimg="responsive"
      sizes="100vw"
      alt="{% if image.alt != blank %}{{ image.alt }}{% else %}{{ alt }}{% endif %}"
      loading="lazy"
      srcset="{{ image_sizes }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
      style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; {% if image.presentation.focal_point != blank %}object-position: {{ image.presentation.focal_point }};{% endif %}"
    >
  </div>
  {% if image_content != blank %}
    {{ image_content }}
  {% endif %}
{% endcapture %}

{% capture image_mobile_markup %}
  {%- if image_mobile != blank -%}
    {%- capture image_mobile_sizes -%}
      {%- render 'print-image-sizes' with image_mobile -%}
    {%- endcapture -%}
    {%- capture image_mobile_spacing -%}
      {% render 'image-spacer', image: image_mobile %}
    {%- endcapture -%}
  {%- endif -%}

  <div class="o-image o-image--mobile o-placeholder" style="overflow: hidden; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;">
    <div style="width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; {{ image_mobile_spacing }}"></div>
    <img
      class="{% if image_mobile != blank %}lazyload{% endif %}"
      src="{{ image_mobile | image_url: width: 480 }}"
      decoding="async"
      data-nimg="responsive"
      sizes="100vw"
      alt="{% if image_mobile.alt != blank %}{{ image_mobile.alt }}{% else %}{{ alt }}{% endif %}"
      loading="lazy"
      srcset="{{ image_mobile_sizes }}"
      width="{{ image_mobile.width }}"
      height="{{ image_mobile.height }}"
      style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; {% if image_mobile.presentation.focal_point != blank %}object-position: {{ image_mobile.presentation.focal_point }};{% endif %}"
    >
  </div>
  {% if image_content != blank %}
    {{ image_content }}
  {% endif %}
{% endcapture %}

{% if image and image_mobile == blank %}
  {{ large_image_markup }}
{% else %}
  <div class="u-hideMd">
    {{ image_mobile_markup }}
  </div>
  <div class="u-showMd">
    {{ large_image_markup }}
  </div>
{% endif %}