{% if template == 'search' %}
  <title>Search - Simple Modern</title>
{% else %}
  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
{% endif %}

  {%- render 'convert' -%}

{% if page_description %}
  {% unless template contains 'blank' %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endunless %}
{% endif %}

<!-- Canonical URL -->
{% if template contains 'collection' %}
  <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
{% elsif template contains 'product' %}
  <link rel="canonical" href="{{ shop.url }}{{ product.url }}" />
{% elsif template contains 'page' %}
  <link rel="canonical" href="{{ shop.url }}{{ page.url }}" />
{% elsif template contains 'blog' %}
  <link rel="canonical" href="{{ shop.url }}{{ blog.url }}" />
{% elsif template contains 'article' %}
  <link rel="canonical" href="{{ shop.url }}{{ article.url }}" />
{% else %}
  <link rel="canonical" href="{{ canonical_url }}" />
{% endif %}

{% if settings.apple_touch_icon != blank %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.apple_touch_icon | image_url: width: 180, height: 180 }}">
{% endif %}

{% if settings.favicon != blank %}
  <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 16, height: 16 }}" sizes="16x16">
{% endif %}

<meta name="theme-color" content="transparent">
<meta name="msapplication-TileColor" content="black">
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var hasReloaded = localStorage.getItem('has_reloaded') === 'true';

    {% if customer.b2b? == true %}
      document.cookie = 'sm_customer=b2b;max-age=86400;path=/';
      if (!hasReloaded) {
        localStorage.setItem('has_reloaded', 'true');
        location.reload();
      }
    {% else %}
      if (document.cookie.indexOf('sm_customer') > 0) {
        document.cookie = 'sm_customer=;expires=Thu, 01 Jan 1970 00:00:00 UTC;path=/';
      }
      localStorage.removeItem('has_reloaded');
    {% endif %}
  });
</script>