{% liquid
  assign upsell_header = settings.upsell_header | default: ''
  assign cart_drawer_upsell_col = collections[settings.coll]
%}

<div id="js-offcanvas-bg" class="Offcanvas-bgDimmer"></div>

<div
  class="js-offcanvas Offcanvas OffcanvasCart Offcanvas--right"
  data-drawer-names="cart"
  role="dialog"
  aria-modal="true"
  aria-label="Cart drawer"
>
  <div class="Offcanvas-content" role="dialog" aria-modal="true">
    <div id="js-cart-drawer">
      {% liquid
        assign b2bDiscount = 0

        if customer
          for tag in customer.tags
            if tag contains 'wholesale:'
              assign b2bDiscount = tag | split: ':' | last | plus: 0
              break
            endif
          endfor
        endif
      %}

      <script type="application/json">
        {
          "moneyFormat": {{ shop.money_format | json }},
          "b2b": {
            "discount": {{ b2bDiscount | json }}
          }
        }
      </script>

      <div class="CartDrawer">
        <header class="CartDrawer-title">
          <a class="CartDrawer-titleLink" href="/cart">
            {{ 'cart.general.item_count' | t: count: cart.item_count }}
          </a>
        </header>
      </div>
      {% assign cartItems = cart.items | map: 'product_id' %}
      {%- if cart_drawer_upsell_col.products.size > 0 -%}
        <div class="CartDrawerUpsell">
          {%- if upsell_header != blank -%}
            <h3 class="CartDrawerUpsell-header">
              {{ upsell_header }}
            </h3>
          {%- endif -%}

          <div role="region" aria-label="carousel" class="swiper js-upsell Upsell-carousel">
            <div class="swiper-wrapper CartDrawer-items" aria-live="polite">
              {%- for upsell_prod in cart_drawer_upsell_col.products limit: 12 -%}
                {% assign current_variant = upsell_prod.selected_or_first_available_variant %}

                {%- if upsell_prod.available -%}
                  {%- unless cartItems contains upsell_prod.id -%}
                    <div class="swiper-slide Upsell-slide">
                      <div class="Upsell-product CartDrawer-item">
                        <div class="CartItem">
                          <div class="CartItem-section is-image">
                            <a
                              class="CartItem-imageLink"
                              href="/products/fletcher-kids-backpack-large?variant=43431607992528"
                              title="Navigate to Vegan Leather Fletcher Kids' Backpack - Large"
                            >
                              {%- if upsell_prod.featured_image -%}
                                {%- capture image_sizes -%}
                                    {%- render 'print-image-sizes' with upsell_prod.featured_image -%}
                                  {%- endcapture -%}
                              {%- endif -%}

                              <div
                                class="Upsell-image {% if upsell_prod.featured_image != blank %}lazyload{% endif %}"
                                data-bgset="{{ image_sizes }}"
                                data-sizes="auto"
                              ></div>
                            </a>
                          </div>
                          <div class="CartItem-section is-info-placeholder js-product-details">
                            <script type="application/json">
                              {
                              "currencyCode": {{ cart.currency.iso_code | json }},
                              "moneyFormat": {{ shop.money_format | json }}
                              }
                            </script>
                            <div class="CartItem-section is-info">
                              <a
                                href="{{ upsell_prod.url }}"
                                class="CartItem-title"
                                title="Redirect to {{ upsell_prod.title }}"
                              >
                                {{- upsell_prod.title -}}
                              </a>
                              {%- assign variant_name = upsell_prod.selected_or_first_available_variant.title -%}
                              {%- if variant_name contains 'Default Title' -%}
                                {%- assign variant_name = '' -%}
                              {%- endif -%}
                              <div class="CartItem-variantTitle">{{ variant_name }}</div>
                            </div>
                            <div
                              class="js-price-preview current_price CartItem-section is-price"
                              data-product-id="{{ upsell_prod.id }}"
                            >
                              {{ current_variant.price | money }}
                            </div>
                            {% if upsell_prod.available %}
                              <form
                                action="/cart/add"
                                method="post"
                                class="ProductForm"
                                data-product-id="{{ upsell_prod.id }}"
                              >
                                <input
                                  type="hidden"
                                  name="quantity"
                                  value="1"
                                  min="1"
                                >
                                <input
                                  type="hidden"
                                  name="variant_selector_dummy"
                                  class="js-variant-selector-dummy single-option-selector"
                                  data-product-id="{{ upsell_prod.id }}"
                                  value="{{ current_variant.id }}"
                                >

                                {% render 'product-options-upsell', prod: upsell_prod %}

                                <div class="js-product-form-error Upsell-error"></div>

                                <div class="Upsell-controls">
                                  <button
                                    type="submit"
                                    class="Upsell-submitButton btn reverse event-upsellAdd"
                                    name="add"
                                    data-product="{{ upsell_prod.title }}"
                                    {% unless current_variant.available %}
                                      disabled="disabled"
                                    {% endunless %}
                                  >
                                    {{ 'products.product.add_to_cart' | t }}
                                  </button>
                                </div>
                              </form>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  {%- endunless -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
            <div class="Upsell-carousel-actions">
              <div class="Upsell-carousel-scrollbar-wrapper">
                <div class="swiper-scrollbar"></div>
              </div>
              <button aria-label="Previous slide" class="swiper-button-prev">{%- render 'svg-arrow-prev' -%}</button>
              <button aria-label="Next slide" class="swiper-button-next">{%- render 'svg-arrow-next' -%}</button>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
<div
  class="js-offcanvas Offcanvas OffcanvasFilters Offcanvas--right"
  data-drawer-names="filters"
  role="dialog"
  aria-modal="true"
  aria-label="Filters drawer"
>
  <div class="Offcanvas-content" role="dialog" aria-modal="true">
    <div id="js-filters-drawer">Hello world</div>
  </div>
</div>
<script>
  var observer = new MutationObserver(function (mutationsList) {
    for (var mutation of mutationsList) {
      if (
        mutation.type === 'attributes' &&
        mutation.attributeName === 'class' &&
        mutation.target.classList.contains('lazyloaded')
      ) {
        handleLazyLoaded(mutation.target)
      }
    }
  })

  function handleLazyLoaded(divElement) {
    var imgElement = divElement.querySelector('img')
    var ariaLabel = divElement.getAttribute('aria-label')

    if (ariaLabel) {
      imgElement.setAttribute('alt', ariaLabel)
      divElement.removeAttribute('aria-label')
    }
  }

  var bannerElements = document.querySelectorAll('.MegamenuMobileBanner-bannerBlockBackground, .Product-lightboxImage')

  bannerElements.forEach(function (bannerElement) {
    observer.observe(bannerElement, { attributes: true })
  })
</script>
