<div class="js-product">
  <div class="ProductAccordion" data-show-one="true">
    {%- for block in section.blocks -%}
      {% if block.type == 'accordion_description' %}
        {% if product.description != blank %}
          <div class="Product__accordion-wrapper">
            <details class="Product__accordion" name="accordion">
              <summary class="ProductAccordion-title">
                {{block.settings.accordion_title}}
                <svg
                  role="img"
                  viewBox="0 0 12 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <title id="title41-{{ toplink.title }}">Arrow down icon</title>

                  <path
                    d="M1.00195 0.813476L6.00195 5.81348L11.002 0.813476"
                    stroke="black"
                    stroke-width="1.5" />
                </svg>
              </summary>
            </details>

            <div class="ProductAccordion-content">
              <div class="Product__accordion__inner o-rte" tabindex="0">
                {{ product.description }}
              </div>
            </div>
          </div>
        {% endif %}
      {% else %}
        {% if block.settings.accordion_content != blank %}
          <div class="Product__accordion-wrapper">
            <details class="Product__accordion" name="accordion">
              <summary class="ProductAccordion-title">
                {{block.settings.accordion_title}}
                <svg
                  role="img"
                  viewBox="0 0 12 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <title id="title41-{{ toplink.title }}">Arrow down icon</title>

                  <path
                    d="M1.00195 0.813476L6.00195 5.81348L11.002 0.813476"
                    stroke="black"
                    stroke-width="1.5" />
                </svg>
              </summary>
            </details>

            <div class="ProductAccordion-content">
              <div class="Product__accordion__inner o-rte" tabindex="0">
                {{ block.settings.accordion_content }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if settings.warranty_content != blank %}
      <div class="Product__accordion-wrapper">
        <details class="Product__accordion" name="accordion">
          <summary class="ProductAccordion-title">
            {{settings.warranty_title}}
            <svg
              role="img"
              viewBox="0 0 12 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <title id="title41-{{ toplink.title }}">Arrow down icon</title>

              <path
                d="M1.00195 0.813476L6.00195 5.81348L11.002 0.813476"
                stroke="black"
                stroke-width="1.5" />
            </svg>
          </summary>
        </details>

        <div class="ProductAccordion-content">
          <div class="Product__accordion__inner o-rte" tabindex="0">
            {{settings.warranty_content}}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
