{% liquid
  assign active_tabs = ''
  for tab_index in (1..2)
    assign tab_enabled_poi = 'product_desc_tab_' | append: tab_index | append: '_enabled'
    assign tab_content_poi = 'product_desc_tab_' | append: tab_index | append: '_content'

    if settings[tab_enabled_poi] and settings[tab_content_poi] and settings[tab_content_poi] != blank
      assign active_tabs = active_tabs | append: ' ' | append: tab_index
    endif
  endfor
  assign active_tabs = active_tabs | strip | handle | split: '-'

  assign desc_tab_enabled = false
  if product.description and product.description != blank
    assign desc_tab_enabled = true
  endif

  assign total_tabs_count = active_tabs.size
  if desc_tab_enabled
    assign total_tabs_count = total_tabs_count | plus: 1
  endif %}

{% if total_tabs_count > 0 %}
  <div class="ProductDescTabs" data-tabs-count="{{ total_tabs_count }}">
    <ul class="ProductDescTabs-controls" data-tabs-count="{{ total_tabs_count }}">
      {%- if desc_tab_enabled -%}
        {{- '' -}}
        <li class="ProductDescTabs-control">
          <button role="button" class="js-product-tab-control ProductDescTabs-controlButton is-active" data-tab-index="0">
            {{ 'products.product.description' | t }}
          </button>
        </li>
      {%- endif -%}
      {%- for tab_index in active_tabs -%}
        {{- '' -}}
        <li class="ProductDescTabs-control">
          <button role="button" class="js-product-tab-control ProductDescTabs-controlButton {% if forloop.first and desc_tab_enabled == false %}is-active{% endif %}" data-tab-index="{{ tab_index }}">
            {% assign tab_title_poi = 'product_desc_tab_' | append: tab_index | append: '_title' %}
            {% assign default_tab_title = 'Tab ' | append: tab_index %}
            {{ settings[tab_title_poi] | default: default_tab_title }}
          </button>
        </li>
      {%- endfor -%}
    </ul>

    <div class="ProductDescTabs-panels">
      {% if desc_tab_enabled %}
        <div class="js-product-tab-panel ProductDescTabs-panel o-rte is-active" data-tab-index="0">
          <!-- content guard -->
          {{ product.description }}
          <!-- content guard -->
        </div>
      {% endif %}
      {% for tab_index in active_tabs %}
        {% assign tab_content_poi = 'product_desc_tab_' | append: tab_index | append: '_content' %}
        <div class="js-product-tab-panel ProductDescTabs-panel o-rte {% if forloop.first and desc_tab_enabled == false %}is-active{% endif %}" data-tab-index="{{ tab_index }}">
          <!-- content guard -->
          {{ settings[tab_content_poi] }}
          <!-- content guard -->
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
