<div class="ProductUpsell">
  <h2>{{ section.settings.upsell_title }}</h2>
  <span class="js-product-form-error"></span>
  <div role="region" class="swiper js-upsell-carousel ProductUpsell-carousel">
    <p class="sr-only" aria-live="polite">
      This is a horizontally scrolling carousel displaying product upsells. Use the left and right arrow keys to
      navigate between slides. Press Enter or Space to activate a selected product.
    </p>
    <div class="swiper-wrapper ProductUpsell-wrapper">
      {%- if product.metafields.custom.product_upsells != blank -%}
        {%- assign productMetafieldUpsellSize = product.metafields.custom.product_upsells | split: ',' | size -%}
        {%- for product in product.metafields.custom.product_upsells.value -%}
          {%- if product.available -%}
            <div
              class="swiper-slide ProductUpsell-slide js-upsell-slide swiper-lazy"
              data-collection="{{ coll.handle }}"
              role="group"
              aria-label="slide {{ forloop.index }} of {{ productMetafieldUpsellSize }}"
            >
              {%- render 'product-upsell-card', product: product, title_tag: 'h3' -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        {%- for product in collections.all.products limit: 8 -%}
          {%- unless product.first_available_variant.sku == 'SM-PERS-STITCH'
            or product.first_available_variant.sku == 'SM-PERS-ENGR'
          -%}
            {%- if product.available -%}
              <div
                class="swiper-slide ProductUpsell-slide js-upsell-slide swiper-lazy"
                data-collection="{{ coll.handle }}"
                role="group"
                aria-label="slide {{ forloop.index }} of 8"
              >
                {%- render 'product-upsell-card', product: product, title_tag: 'h3' -%}
              </div>
            {%- endif -%}
          {%- endunless -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
    <div class="ProductUpsell-carousel-actions">
      <div class="ProductUpsell-carousel-scrollbar-wrapper">
        <div class="swiper-scrollbar"></div>
      </div>
      <button aria-label="Previous slide" class="swiper-button-prev">{%- render 'icon-arrow-prev' -%}</button>
      <button aria-label="Next slide" class="swiper-button-next">{%- render 'icon-arrow-next' -%}</button>
    </div>
  </div>
</div>
