{%- assign selected_variant = product.selected_or_first_available_variant -%}
{%- assign render_style = settings.product_options_style | default: 'radios' -%}

<div class="js-product-options">
  <script type="application/json">
    {
      "product": {{ product | json }},
      "optionsWithValues": {{ product.options_with_values | json }},
      "selectedVariantId": {{ selected_variant.id | json }},
      "settings": {
        "renderStyle": {{ render_style | json }}
      }
    }
  </script>
  <div class="js-product-options-render-target">
    <input type="hidden" name="id" value="{{ selected_variant.id }}" />
  </div>
</div>

<style>
  {%- for product_option in product.options_by_name['Size'].values -%}
    {%- assign product_option_handleize = product_option | handleize -%}
    .size-{{ product_option_handleize }}::before {
      background-image: url('{{ shop.metaobjects['product_option'][product_option_handleize].icon.value | image_url | escape }}');
    }
  {%- endfor -%}
</style>