{%- liquid
  assign b2bDiscount = 0
  assign b2bOriginalPrice = 0
  assign b2bRetailPrice = 0
  assign catalog = 'retail'
  if customer and customer.b2b? == true
    assign catalog = 'wholesale'
    assign b2bDiscount = 30
    assign b2bOriginalPrice = 100 | minus: b2bDiscount | times: 1.0
    assign b2bRetailPrice = product.price | divided_by: b2bOriginalPrice | times: 100
  endif
  assign min = 1
  assign max = 100
  assign diff = max | minus: min
  assign randomNumber = 'now' | date: '%N' | modulo: diff | plus: min
  assign tagDiscount = 0
  assign tagDiscountedPrice = 0
  for tag in product.tags
    if tag contains 'discount:'
      assign tagDiscount = tag | split: ':' | last | plus: 0
      assign tagPercentage = 100 | minus: tagDiscount | times: 1.0
      assign tagDiscountedPrice = product.price | times: tagPercentage | divided_by: 100
      break
    endif
  endfor
  capture grid_item_image_sizes
    render 'print-image-sizes', image: product.featured_image
  endcapture
  if product.metafields.custom.lifestyle_image != blank
    assign secondary_image = product.metafields.custom.lifestyle_image.value
  elsif product.images.size > 1
    assign secondary_image = product.images[1]
  else
    assign secondary_image = product.featured_image
  endif
  capture grid_item_second_image_sizes
    render 'print-image-sizes', image: secondary_image
  endcapture
  assign badge = product.metafields.custom.product_card_label
  assign badge_color = product.metafields.custom.badge_color

  for tag in product.tags
    if tag contains 'size_'
      unless tag contains ':'
        assign size_metaobject_handle = tag | remove: 'size_'
      endunless
    endif

    if tag contains 'color_'
      unless tag contains ':'
        assign current_color = tag
        assign color_metaobject_handle = tag | remove: 'color_'
        assign current_color_title = tag
      else
        assign current_colorfull_title = tag | split: ':' | last
      endunless
    endif

    if tag contains 'customize:'
      assign badge = 'Customizable'
    endif
  endfor

  assign current_icon = product.featured_image
  if shop.metaobjects.product_colors[color_metaobject_handle].color.value != blank
    assign current_icon = shop.metaobjects.product_colors[color_metaobject_handle].color.value
  endif
  if shop.metaobjects.product_option[size_metaobject_handle].display_name.value != blank
    assign current_size_title = shop.metaobjects.product_option[size_metaobject_handle].display_name.value
  endif
  assign current_variant = product.selected_or_first_available_variant
  assign feature_highlight = product.metafields.product_card.feature_highlight.value

  if title_tag
    assign title_tag = title_tag
  elsif page.template contains 'collection'
    assign title_tag = 'h2'
  else
    assign title_tag = 'h3'
  endif
-%}

<div
  role="group"
  aria-label="product"
  tabindex="0"
  class="ProductCard ProductCard-{{ product.id }} js-product-card"
  data-base-product-url="{{ product.url }}"
  data-is-initialised="false"
  data-b2b-customer="{{ customer.b2b? }}"
  data-b2b-discount="{{ b2bDiscount }}"
>
  {% render 'product-badges',
    badge: badge,
    badgeColor: badge_color,
    product_tags: product.tags,
    isPlp: true,
    product: product
  %}

  <a
    title="Link to {{ product.title }}"
    href="{{ product.url }}"
    class="ProductCard-image-link js-product-card-link{% if template contains 'collection' %} event-productCardLink{% endif %}"
    data-product="{{ product.title }}"
    title="{{ product.title }}"
  >
    <img
      role="img"
      title="{{ product.title }} view 1"
      class="ProductCard-image js-product-card-image"
      alt="{{ product.title }} - front view"
      loading="lazy"
      sizes="(min-width: 1280px) 25vw, (min-width: 768px) 33vw, 50vw"
      srcset="{{ grid_item_image_sizes | strip_newlines | strip }}"
      width="{{ product.featured_image.width }}"
      height="{{ product.featured_image.height }}"
    >

    <img
      role="img"
      title="{{ product.title }} view 2"
      class="ProductCard-secondimage js-product-card-second-image"
      alt="{{ product.title }} - back view"
      loading="lazy"
      sizes="(min-width: 1280px) 25vw, (min-width: 768px) 33vw, 50vw"
      srcset="{{ grid_item_second_image_sizes | strip_newlines | strip }}"
      width="{{ secondary_image.width }}"
      height="{{ secondary_image.height }}"
    >
  </a>

  <div class="ProductCard-elements js-product-card-elements">
    <div class="ProductCard-content js-product-card-content">
      {% render 'okendo-reviews-product-rating-summary', product: product %}
      <script class="js-product-card-color-json" type="application/json">
        {
          "current_color": {{ current_color | json }},
          "current_product": {{ product.id | json }},
          "current_url": {{ product.handle | json }},
          "current_price": {{ product.price | money | json }},
          "current_catalog": {{ catalog | json }}
        }
      </script>
      <div class="ProductCard-total-colors js-product-card-total-colors">No Colors</div>
      <div class="ProductCard-swatches">
        <fieldset
          role="radiogroup"
          aria-labelledby="variant-label"
          {%- if product.type != blank -%}
            class="js-product-card-smp"
          {%- endif -%}
        >
          <legend id="variant-label" class="u-hide">Select a variant</legend>
          <label
            for="variant-base-{{ randomNumber }}-{{ current_color }}-{{ product.id }}-{{ current_variant.id }}"
            class="color-swatch-label js-product-card-swatch-base-label"
            data-color-handle="{{ color_metaobject_handle }}"
            title="{{ current_color_title }}"
            tabindex="0"
          >
            <input
              id="variant-base-{{ randomNumber }}-{{ current_color }}-{{ product.id }}-{{ current_variant.id }}"
              name="id"
              type="radio"
              value="{{ current_variant.id }}"
              aria-label="{{ current_colorfull_title }}"
              class="ProductCard-swatches-input js-product-card-swatch js-product-card-swatch-base selected"
              data-img="{{ product.featured_image | image_url: width: 600 }}"
              data-second-img="{{ secondary_image | image_url: width: 600 }}"
              data-url="{{ product.url }}"
              data-tag-discount="{{ tagDiscount }}"
              data-tag-price="{{ tagDiscountedPrice | money }}"
              data-color="{{ current_colorfull_title }}"
              data-retail-price="{{ product.price | money }}"
              data-price="{%- if b2bRetailPrice > 0-%}{{ b2bRetailPrice | money }}{%- else -%}{{ product.price | money }}{%- endif -%}"
              data-is-customizable="{%- if product.tags contains 'customize:' -%}true{%- else -%}false{%- endif -%}"
            >
            <img
              src="{{ current_icon | image_url: width: 128 }}"
              alt="{{ product.title }}"
              width="39"
              height="39"
              loading="eager"
              class="fallback"
            >
            {% if current_variant %}
              <span class="sr-only">{{ current_colorfull_title }}</span>
            {% endif %}
          </label>
        </fieldset>
      </div>

      <{{ title_tag }} class="ProductCard-title">
        {%- if current_size_title %}{{ current_size_title }} {% endif -%}
        {{- product.title | split: 'with' | first }}
        {%- if product.title contains 'with' -%}
          <span>{{ product.title | split: 'with' | last | prepend: 'with ' }}</span>
        {%- endif -%}
      </{{ title_tag }}>

      <p class="ProductCard-complementary">
        {% if current_size_title -%}
          <span class="js-title-size">{{ current_size_title }} -&nbsp;</span>
        {%- endif -%}
        {%- if current_colorfull_title -%}
          <span class="js-title-color">{{ current_colorfull_title }}</span>
        {%- endif %}
      </p>
      <div class="ProductCard-bottom">
        <p class="ProductCard-price">
          <span class="{%- if b2bRetailPrice > 0 -%}js-product-b2b-card-price ProductCard-price-current{%- else -%}js-product-card-price {% if tagDiscountedPrice > 0 %}striked{% endif %}{%- endif -%}">
            {{- product.price | money -}}
          </span>
          {% if b2bRetailPrice > 0 -%}
            <del class="ProductCard-price-old js-product-card-price">{{ b2bRetailPrice | money }}</del>
          {%- endif %}
          {% if tagDiscountedPrice > 0 -%}
            <span class="js-product-tag-price">{{ tagDiscountedPrice | money }}</span>
          {%- endif %}
        </p>
        {% render 'okendo-reviews-product-rating-summary', product: product %}
      </div>
      <div class="ProductCard-featureHighlights">
        {%- if feature_highlight != blank -%}
          {%- for highlight in feature_highlight -%}
            <span>{{ highlight }}</span>
          {%- endfor -%}
        {%- endif -%}
      </div>

      <div class="ProductCard-elements-actions">
        <a
          title="Link to {{ product.title }}"
          href="{{ product.url }}"
          class="ProductForm-submitButton btn reverse{% if template contains 'collection' %} event-productCardLink{% endif %} js-product-card-link"
        >
          Shop Now
        </a>
        <form
          action="/cart/add"
          method="post"
          class="ProductForm js-collection-product-card-form"
          data-product-id="{{ product.id }}"
          {% if settings.ajax_cart_enabled == false %}
            data-ajax-cart-disabled="disabled"
          {% endif %}
        >
          <input type="hidden" class="" name="quantity" value="1" min="1">
          <input type="hidden" name="id" data-product-id="{{ product.id }}" value="{{ current_variant.id }}">
          <button
            type="submit"
            class="ProductForm-submitButton btn reverse"
            name="add"
            {% unless current_variant.available %}
              disabled="disabled"
            {% endunless %}
          >
            {{ 'products.product.add_to_cart' | t }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
