{%- liquid
  capture grid_item_image_sizes
    render 'print-image-sizes', image: product.featured_image
  endcapture
  if product.metafields.custom.lifestyle_image != blank
    assign secondary_image = product.metafields.custom.lifestyle_image.value
  elsif product.images.size > 1
    assign secondary_image = product.images[1]
  else
    assign secondary_image = product.featured_image
  endif
  capture grid_item_second_image_sizes
    render 'print-image-sizes', image: secondary_image
  endcapture
  assign badge = product.metafields.custom.product_card_label
  assign badge_color = product.metafields.custom.badge_color
-%}

{% assign current_variant = product.selected_or_first_available_variant %}
<a href="{{ product.url }}" class="ProductCard-link">
  <div class="ProductCard ProductCard-{{ product.id }} js-product-card">
    <div class="ProductCard-Badge">
      {% if badge != blank %}
        <p style="background-color: {{ badge_color }};">{{ badge }}</p>
      {% endif %}
    </div>
    <div class="ProductCard-image-link js-product-card-link" >
      <div
        aria-label="{{ product.title }} image"
        class="ProductCard-image lazyload js-product-card-image"
        data-sizes="auto"
        data-bgset="{{ grid_item_image_sizes | strip_newlines | strip }}"></div>
      <div
        aria-label="{{ product.title }} image"
        class="ProductCard-secondimage lazyload js-product-card-second-image"
        data-sizes="auto"
        data-bgset="{{ grid_item_second_image_sizes | strip_newlines | strip }}"></div>
    </div>

                    {% unless product.has_only_default_variant %}
                        <span class="ProductCard-variants">
                            {{ product.selected_or_first_available_variant.title }}
                            {% assign variant_count = product.variants | size %}
                            {% if variant_count > 1 %}
                            <span class="ProductCard-variants-more u-showMd__inline"> +{{ variant_count | minus: 1 }} colors </span>
                            {% endif %}
                        </span>
                    {% endunless %}
                {% render 'okendo-reviews-product-rating-summary', product: product %}
                <div class="ProductCard-bottom">
                    <p class="ProductCard-price">{{ product.price | money }}</p>
                    <a class="ProductCard-link u-showMd">Choose Options</a>
                </div>
            </div>
              <div class="ProductCard-details">
                <input type="hidden" name="variant_selector_dummy" class="js-variant-selector-dummy single-option-selector" data-product-id="{{ product.id }}" value="{{ current_variant.id }}" />

                <div class="ProductCard-swatches">
                  {%- assign total_options = product.options_by_name['Color'].values | size -%}
                  {%- for product_option in product.options_by_name['Color'].values limit: 5 -%}
                    {%- assign variant = product.variants[forloop.index0] -%}
                      <input id="variant-{{ variant.id }}"  name="id" type="radio" value="{{ variant.id }}" class="ProductCard-swatches-input js-product-card-swatch"  data-img="{{ variant.image | img_url: '1024x' }}" data-second-img="{{ variant.image | img_url: '1024x' }}" data-url="{{ variant.url }}" {% if product.selected_or_first_available_variant.id == variant.id %}checked="checked"{% endif %}>
                      <label for="variant-{{ variant.id }}" class="color-swatch-label"><span style="background-image: url('{{ variant.image | img_url: '1024x' }}');"></span></label>
                  {%- endfor -%}
                  {%- if total_options > 5 -%}
                    <div class="ProductCard-swatches-count">
                        <span>
                          +{{ total_options | minus: 5 }}
                        </span>
                    </div>
                  {%- endif -%}
                    <div class="ProductCard-swatches-link u-showMd">
                      <a href="{{ product.url }}">View all</a>
                    </div>
                </div>
                <input type="hidden" name="quantity" value="1" min="1" />
                <p class="ProductCard-price u-showMd">{{ product.price | money }}</p>
                <div class="ProductCard-details-actions">
                  <button type="submit" class="ProductForm-submitButton btn reverse" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                    {{ 'products.product.add_to_cart' | t }}
                  </button>
                  <a href="{{ product.url }}" class="gradient-btn btn">
                    <span>Customize <em class="u-showMd__inline">for $10</em></span>
                  </a>
                </div>
              </div>
</a>
