{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{%- assign aspect_ratio_sum = 0 -%}
{%- for image in product.images -%}
  {%- assign aspect_ratio_sum = aspect_ratio_sum | plus: image.aspect_ratio -%}
{%- endfor -%}
{%- assign avg_aspect_ratio = aspect_ratio_sum | times: 1.0 | divided_by: product.images.size -%}
{%- assign placeholder_padding = avg_aspect_ratio | times: 100 | append: '%' -%}

<!-- Desktop AB test -->
<section class="NewProductGallery desktop" data-product-id="{{ product.id }}" aria-label="Desktop Gallery">
  <div class="NewProductGallery-grid" data-product-id="{{ product.id }}">
    {%- for media in product.media -%}
      {%- if media.media_type contains 'video' -%}
        <!-- Product video images (thumbnails) -->
        <div
          class="NewProductGallery-video NewProductGallery-item js-video-tile"
          style="background-image: url('{{ media.preview_image | image_url: width: 1080 }}');"
        >
          {%- capture media_image_sizes -%}
            {{ media.preview_image | image_url: width: 640 }} 320w,
            {{ media.preview_image | image_url: width: 750 }} 375w,
            {{ media.preview_image | image_url: width: 960 }} 480w,
            {{ media.preview_image | image_url: width: 1024 }} 600w,
            {{ media.preview_image | image_url: width: 2048 }} 1024w
            {%- endcapture -%}

          <div
            class="NewProductGallery-video js-video-thumb"
            style="background-image: url('{{ media.preview_image | image_url: width: 1080 }}');"
          >
            <div class="NewProductGallery-videoOverlay js-video-overlay" aria-hidden="true"></div>
            <button class="ProductGallery-playIcon js-video-play" aria-label="Play video" type="button">
              {%- render 'svg-play-icon' -%}
            </button>
          </div>
          <div class="NewProductGallery-videoPlayer js-video-player" style="display: none; height: inherit;">
            {{
              media
              | video_tag: controls: true, autoplay: true, loop: true, muted: true, class: 'NewProductGallery-video'
            }}
          </div>
        </div>
      {%- elsif media.media_type contains 'image' -%}
        {%- capture media_image_sizes -%}
          {{ media.preview_image | image_url: width: 640 }} 320w,
          {{ media.preview_image | image_url: width: 750 }} 375w,
          {{ media.preview_image | image_url: width: 960 }} 480w,
          {{ media.preview_image | image_url: width: 1024 }} 600w,
          {{ media.preview_image | image_url: width: 2048 }} 1024w
        {%- endcapture -%}
        <div
          tabindex="0"
          class="NewProductGallery-image NewProductGallery-item lazyload js-image-cover"
          data-sizes="auto"
          data-bgset="{{ media_image_sizes | strip_newlines | strip }}"
          data-img-url="{{ media.preview_image | image_url: width: 2048 }}"
        >
          <div class="NewProductGallery-image-cover">
            <svg
              class="NewProductGallery-image-opener"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="32" height="32" rx="16" fill="white"/>
              <path d="M19 8.5H23.5V13" stroke="#666666" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.25 13.75L23.5 8.5" stroke="#666666" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13 23.5H8.5V19" stroke="#666666" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.75 18.25L8.5 23.5" stroke="#666666" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>

<section
  class="js-product-gallery-mobile ProductGallery mobile swiper-container-images"
  data-product-id="{{ product.id }}"
  aria-label="Mobile Carousel"
>
  <div class="js-product-gallery-images-mobile ProductGallery-images" data-product-id="{{ product.id }}">
    {% render 'product-badges', product_tags: product.tags %}

    <div class="ProductGallery-grid">
      {%- if product.tags contains 'badge:fits-car' -%}
        {% assign badge_fits_cart = shop.metaobjects.product_badges['fits-car'].icon.value | image_url %}
        {%- capture badge_image_sizes -%}
        {%- render 'print-image-sizes' with badge_fits_cart -%}
        {%- endcapture -%}
        <div
          class="ProductGallery-badge lazyload"
          data-sizes="auto"
          data-bgset="{{ badge_image_sizes | strip_newlines | strip }}"
        ></div>
      {%- endif -%}

      <div class="swiper-container swiper-container-mobile ProductGallery-mainContainer">
        <p class="sr-only">This is a carousel with scrollable slides. Use Next and Previous buttons to navigate.</p>
        <div class="swiper-wrapper">
          <!-- videos -->
          {%- assign first_image_rendered = false -%}
          {%- for media in product.media -%}
            {%- if media.media_type contains 'video' -%}
              <div class="swiper-slide ProductGallery-mainSlide ProductGallery-video">
                {{ media | video_tag: controls: true, autoplay: true, loop: true, muted: true }}
              </div>
            {%- elsif media.media_type contains 'image' -%}
              <!-- Rest of the product images -->

              {% capture other_image_sizes %}
              {{ media | image_url: width: 640 }} 320w,
              {{ media | image_url: width: 750 }} 375w,
              {{ media | image_url: width: 960 }} 480w,
              {{ media | image_url: width: 1024 }} 600w,
              {{ media | image_url: width: 2048 }} 1024w
              {% endcapture %}
              <div class="swiper-slide ProductGallery-mainSlide js-m-slide">
                <div
                  data-swiper-zoom="2"
                  class="swiper-zoom-container js-product-gallery-image ProductGallery-image"
                  data-image-variants="{{ media.variants | map: 'id' | join: ' ' | escape }}"
                >
                  {%- if first_image_rendered == false -%}
                    <img
                      tabindex="0"
                      class="swiper-zoom-target ProductGallery-imagePlaceholder"
                      title="{{ media.alt }}"
                      aria-label="{{ media.alt }}"
                      src="{{ media | image_url: width: 640 }}"
                      srcset="{{ other_image_sizes | strip_newlines | strip }}"
                      sizes="100vw"
                      width="{{ media.width }}"
                      height="{{ media.height }}"
                      loading="eager"
                      fetchpriority="high"
                      alt="{{ media.alt }}"
                    >
                    {%- assign first_image_rendered = true -%}
                  {%- else -%}
                    <div
                      tabindex="0"
                      class="swiper-zoom-target ProductGallery-imagePlaceholder lazyload"
                      title="{{ media.alt }}"
                      aria-label="{{ media.alt }}"
                      data-sizes="auto"
                      data-bgset="{{ other_image_sizes | strip_newlines | strip }}"
                    ></div>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>

        <div class="ProductGallery-actions">
          <div class="swiper-pagination"></div>
        </div>
        <div class="ProductGallery-abTestArrows">
          <button
            aria-label="Previous slide"
            class="swiper-button-prev swiper-button-prev-mobile ab-test-arrows-show swiper-button-disabled"
            style="opacity: 0"
          >
            {%- render 'icon-arrow-prev' -%}
          </button>
          <button
            aria-label="Next slide"
            class="swiper-button-next swiper-button-next-mobile ab-test-arrows-show"
            style="opacity: 0"
          >
            {%- render 'icon-arrow-next' -%}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
