{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_stylesm_image_bc0ebb2f-fff9-46db-bbfd-6c82cec6133d = section.settings['replo_stylesm_image_bc0ebb2f-fff9-46db-bbfd-6c82cec6133d'] | image_url -%}
    {%- capture default_replo_stylesm_image_bc0ebb2f-fff9-46db-bbfd-6c82cec6133d -%}https://cdn.shopify.com/s/files/1/1100/3842/files/PivotBanner_mob.jpg?v=1719861394{%- endcapture -%}
    {%- assign replo_stylesm_image_bc0ebb2f-fff9-46db-bbfd-6c82cec6133d = replo_stylesm_image_bc0ebb2f-fff9-46db-bbfd-6c82cec6133d | default: default_replo_stylesm_image_bc0ebb2f-fff9-46db-bbfd-6c82cec6133d -%}
    "replo_stylesm_image_bc0ebb2f-fff9-46db-bbfd-6c82cec6133d": {{ replo_stylesm_image_bc0ebb2f-fff9-46db-bbfd-6c82cec6133d | json }}, {%- assign replo_style_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e = section.settings['replo_style_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e'] | image_url -%}
    {%- capture default_replo_style_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e -%}https://cdn.shopify.com/s/files/1/1100/3842/files/TrekPiv_HP.jpg?v=1730136845{%- endcapture -%}
    {%- assign replo_style_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e = replo_style_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e | default: default_replo_style_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e -%}
    "replo_style_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e": {{ replo_style_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e | json }}, {%- assign replo_stylesm_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e = section.settings['replo_stylesm_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e'] | image_url -%}
    {%- capture default_replo_stylesm_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e -%}https://cdn.shopify.com/s/files/1/1100/3842/files/TrekPiv_HP.jpg?v=1730136845{%- endcapture -%}
    {%- assign replo_stylesm_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e = replo_stylesm_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e | default: default_replo_stylesm_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e -%}
    "replo_stylesm_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e": {{ replo_stylesm_image_5c5f3784-bd57-44e3-ae0f-21e5b9177e3e | json }}, {%- assign replo_text_5f9cf0d0-51bd-4228-b57e-4c3af5d0cdef = section.settings['replo_text_5f9cf0d0-51bd-4228-b57e-4c3af5d0cdef'] -%}
    {%- capture default_replo_text_5f9cf0d0-51bd-4228-b57e-4c3af5d0cdef -%}<p>INTRODUCING</p>{%- endcapture -%}
    {%- assign replo_text_5f9cf0d0-51bd-4228-b57e-4c3af5d0cdef = replo_text_5f9cf0d0-51bd-4228-b57e-4c3af5d0cdef | default: default_replo_text_5f9cf0d0-51bd-4228-b57e-4c3af5d0cdef -%}
    "replo_text_5f9cf0d0-51bd-4228-b57e-4c3af5d0cdef": {{ replo_text_5f9cf0d0-51bd-4228-b57e-4c3af5d0cdef | json }}, {%- assign replo_text_e761b91a-f647-4c38-bccd-fbbd48d84990 = section.settings['replo_text_e761b91a-f647-4c38-bccd-fbbd48d84990'] -%}
    {%- capture default_replo_text_e761b91a-f647-4c38-bccd-fbbd48d84990 -%}<p>YOUR HYDRATION</p><p>SIDEKICK</p>{%- endcapture -%}
    {%- assign replo_text_e761b91a-f647-4c38-bccd-fbbd48d84990 = replo_text_e761b91a-f647-4c38-bccd-fbbd48d84990 | default: default_replo_text_e761b91a-f647-4c38-bccd-fbbd48d84990 -%}
    "replo_text_e761b91a-f647-4c38-bccd-fbbd48d84990": {{ replo_text_e761b91a-f647-4c38-bccd-fbbd48d84990 | json }}, {%- assign replo_url_6464d4e6-ca85-47f0-a257-91b85e6bb6ec = section.settings['replo_url_6464d4e6-ca85-47f0-a257-91b85e6bb6ec'] -%}
    {%- capture default_replo_url_6464d4e6-ca85-47f0-a257-91b85e6bb6ec -%}https://www.simplemodern.com/collections/trek-pivot{%- endcapture -%}
    {%- assign replo_url_6464d4e6-ca85-47f0-a257-91b85e6bb6ec = replo_url_6464d4e6-ca85-47f0-a257-91b85e6bb6ec | default: default_replo_url_6464d4e6-ca85-47f0-a257-91b85e6bb6ec -%}
    "replo_url_6464d4e6-ca85-47f0-a257-91b85e6bb6ec": {{ replo_url_6464d4e6-ca85-47f0-a257-91b85e6bb6ec | json }}, {%- assign replo_text_104ab4f6-e615-4126-ba63-14dffef089ce = section.settings['replo_text_104ab4f6-e615-4126-ba63-14dffef089ce'] -%}
    {%- capture default_replo_text_104ab4f6-e615-4126-ba63-14dffef089ce -%}<p>Meet Kids Trek Pivot</p>{%- endcapture -%}
    {%- assign replo_text_104ab4f6-e615-4126-ba63-14dffef089ce = replo_text_104ab4f6-e615-4126-ba63-14dffef089ce | default: default_replo_text_104ab4f6-e615-4126-ba63-14dffef089ce -%}
    "replo_text_104ab4f6-e615-4126-ba63-14dffef089ce": {{ replo_text_104ab4f6-e615-4126-ba63-14dffef089ce | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}