{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_stylesm_image_596c71f6-968b-41a9-9498-526bd13f5847 = section.settings['replo_stylesm_image_596c71f6-968b-41a9-9498-526bd13f5847'] | image_url -%}
    {%- capture default_replo_stylesm_image_596c71f6-968b-41a9-9498-526bd13f5847 -%}https://cdn.shopify.com/s/files/1/1100/3842/files/PivotBanner_mob.jpg?v=1719861394{%- endcapture -%}
    {%- assign replo_stylesm_image_596c71f6-968b-41a9-9498-526bd13f5847 = replo_stylesm_image_596c71f6-968b-41a9-9498-526bd13f5847 | default: default_replo_stylesm_image_596c71f6-968b-41a9-9498-526bd13f5847 -%}
    "replo_stylesm_image_596c71f6-968b-41a9-9498-526bd13f5847": {{ replo_stylesm_image_596c71f6-968b-41a9-9498-526bd13f5847 | json }}, {%- assign replo_style_image_ae72bf24-b201-471c-918f-f39646b73357 = section.settings['replo_style_image_ae72bf24-b201-471c-918f-f39646b73357'] | image_url -%}
    {%- capture default_replo_style_image_ae72bf24-b201-471c-918f-f39646b73357 -%}https://cdn.shopify.com/s/files/1/1100/3842/files/PivotBanner_ultrawide.jpg?v=1719863550{%- endcapture -%}
    {%- assign replo_style_image_ae72bf24-b201-471c-918f-f39646b73357 = replo_style_image_ae72bf24-b201-471c-918f-f39646b73357 | default: default_replo_style_image_ae72bf24-b201-471c-918f-f39646b73357 -%}
    "replo_style_image_ae72bf24-b201-471c-918f-f39646b73357": {{ replo_style_image_ae72bf24-b201-471c-918f-f39646b73357 | json }}, {%- assign replo_stylesm_image_ae72bf24-b201-471c-918f-f39646b73357 = section.settings['replo_stylesm_image_ae72bf24-b201-471c-918f-f39646b73357'] | image_url -%}
    {%- capture default_replo_stylesm_image_ae72bf24-b201-471c-918f-f39646b73357 -%}https://cdn.shopify.com/s/files/1/1100/3842/files/PivotBanner_mob.jpg?v=1719861394{%- endcapture -%}
    {%- assign replo_stylesm_image_ae72bf24-b201-471c-918f-f39646b73357 = replo_stylesm_image_ae72bf24-b201-471c-918f-f39646b73357 | default: default_replo_stylesm_image_ae72bf24-b201-471c-918f-f39646b73357 -%}
    "replo_stylesm_image_ae72bf24-b201-471c-918f-f39646b73357": {{ replo_stylesm_image_ae72bf24-b201-471c-918f-f39646b73357 | json }}, {%- assign replo_text_c73097bd-cb01-47bd-bbcc-2d97ec6dfb90 = section.settings['replo_text_c73097bd-cb01-47bd-bbcc-2d97ec6dfb90'] -%}
    {%- capture default_replo_text_c73097bd-cb01-47bd-bbcc-2d97ec6dfb90 -%}<p>NEW TREK PIVOT</p>{%- endcapture -%}
    {%- assign replo_text_c73097bd-cb01-47bd-bbcc-2d97ec6dfb90 = replo_text_c73097bd-cb01-47bd-bbcc-2d97ec6dfb90 | default: default_replo_text_c73097bd-cb01-47bd-bbcc-2d97ec6dfb90 -%}
    "replo_text_c73097bd-cb01-47bd-bbcc-2d97ec6dfb90": {{ replo_text_c73097bd-cb01-47bd-bbcc-2d97ec6dfb90 | json }}, {%- assign replo_text_98f4d26d-069d-46d3-a4df-33fef6b7e161 = section.settings['replo_text_98f4d26d-069d-46d3-a4df-33fef6b7e161'] -%}
    {%- capture default_replo_text_98f4d26d-069d-46d3-a4df-33fef6b7e161 -%}<p>STAY HYDRATED</p><p>ALL DAY</p>{%- endcapture -%}
    {%- assign replo_text_98f4d26d-069d-46d3-a4df-33fef6b7e161 = replo_text_98f4d26d-069d-46d3-a4df-33fef6b7e161 | default: default_replo_text_98f4d26d-069d-46d3-a4df-33fef6b7e161 -%}
    "replo_text_98f4d26d-069d-46d3-a4df-33fef6b7e161": {{ replo_text_98f4d26d-069d-46d3-a4df-33fef6b7e161 | json }}, {%- assign replo_url_e2899f2a-2292-435f-aad0-2c5abca0543a = section.settings['replo_url_e2899f2a-2292-435f-aad0-2c5abca0543a'] -%}
    {%- capture default_replo_url_e2899f2a-2292-435f-aad0-2c5abca0543a -%}https://www.simplemodern.com/collections/trek-pivot{%- endcapture -%}
    {%- assign replo_url_e2899f2a-2292-435f-aad0-2c5abca0543a = replo_url_e2899f2a-2292-435f-aad0-2c5abca0543a | default: default_replo_url_e2899f2a-2292-435f-aad0-2c5abca0543a -%}
    "replo_url_e2899f2a-2292-435f-aad0-2c5abca0543a": {{ replo_url_e2899f2a-2292-435f-aad0-2c5abca0543a | json }}, {%- assign replo_text_823d7779-fbee-4efe-a525-7ebecbee9eab = section.settings['replo_text_823d7779-fbee-4efe-a525-7ebecbee9eab'] -%}
    {%- capture default_replo_text_823d7779-fbee-4efe-a525-7ebecbee9eab -%}<p>Shop Trek Pivot</p>{%- endcapture -%}
    {%- assign replo_text_823d7779-fbee-4efe-a525-7ebecbee9eab = replo_text_823d7779-fbee-4efe-a525-7ebecbee9eab | default: default_replo_text_823d7779-fbee-4efe-a525-7ebecbee9eab -%}
    "replo_text_823d7779-fbee-4efe-a525-7ebecbee9eab": {{ replo_text_823d7779-fbee-4efe-a525-7ebecbee9eab | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}