
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_5cf08b2f-28aa-454a-a102-4aa378daa18f = section.settings['replo_text_5cf08b2f-28aa-454a-a102-4aa378daa18f'] -%}
    {%- capture default_replo_text_5cf08b2f-28aa-454a-a102-4aa378daa18f -%}<p>Medium<br></p>{%- endcapture -%}
    {%- assign replo_text_5cf08b2f-28aa-454a-a102-4aa378daa18f = replo_text_5cf08b2f-28aa-454a-a102-4aa378daa18f | default: default_replo_text_5cf08b2f-28aa-454a-a102-4aa378daa18f -%}
    "replo_text_5cf08b2f-28aa-454a-a102-4aa378daa18f": {{ replo_text_5cf08b2f-28aa-454a-a102-4aa378daa18f | json }}, {%- assign replo_text_9d95fc91-a43e-412d-8d91-230f6300c8b4 = section.settings['replo_text_9d95fc91-a43e-412d-8d91-230f6300c8b4'] -%}
    {%- capture default_replo_text_9d95fc91-a43e-412d-8d91-230f6300c8b4 -%}<p>Add To Cart</p>{%- endcapture -%}
    {%- assign replo_text_9d95fc91-a43e-412d-8d91-230f6300c8b4 = replo_text_9d95fc91-a43e-412d-8d91-230f6300c8b4 | default: default_replo_text_9d95fc91-a43e-412d-8d91-230f6300c8b4 -%}
    "replo_text_9d95fc91-a43e-412d-8d91-230f6300c8b4": {{ replo_text_9d95fc91-a43e-412d-8d91-230f6300c8b4 | json }}, {%- assign replo_style_image_9e2bad27-3507-4f48-8e92-e0bf3a61839e = section.settings['replo_style_image_9e2bad27-3507-4f48-8e92-e0bf3a61839e'] | image_url -%}
    {%- capture default_replo_style_image_9e2bad27-3507-4f48-8e92-e0bf3a61839e -%}https://cdn.shopify.com/s/files/1/1100/3842/files/Best_Seller_Red.png?v=1715013499{%- endcapture -%}
    {%- assign replo_style_image_9e2bad27-3507-4f48-8e92-e0bf3a61839e = replo_style_image_9e2bad27-3507-4f48-8e92-e0bf3a61839e | default: default_replo_style_image_9e2bad27-3507-4f48-8e92-e0bf3a61839e -%}
    "replo_style_image_9e2bad27-3507-4f48-8e92-e0bf3a61839e": {{ replo_style_image_9e2bad27-3507-4f48-8e92-e0bf3a61839e | json }}, {%- assign replo_text_f0e82d37-ee1a-4139-b065-5ad0fbf7f748 = section.settings['replo_text_f0e82d37-ee1a-4139-b065-5ad0fbf7f748'] -%}
    {%- capture default_replo_text_f0e82d37-ee1a-4139-b065-5ad0fbf7f748 -%}<p>Large<br></p>{%- endcapture -%}
    {%- assign replo_text_f0e82d37-ee1a-4139-b065-5ad0fbf7f748 = replo_text_f0e82d37-ee1a-4139-b065-5ad0fbf7f748 | default: default_replo_text_f0e82d37-ee1a-4139-b065-5ad0fbf7f748 -%}
    "replo_text_f0e82d37-ee1a-4139-b065-5ad0fbf7f748": {{ replo_text_f0e82d37-ee1a-4139-b065-5ad0fbf7f748 | json }}, {%- assign replo_text_adc7974e-8707-4622-b9db-4c1f9ecc88b1 = section.settings['replo_text_adc7974e-8707-4622-b9db-4c1f9ecc88b1'] -%}
    {%- capture default_replo_text_adc7974e-8707-4622-b9db-4c1f9ecc88b1 -%}<p>Add To Cart</p>{%- endcapture -%}
    {%- assign replo_text_adc7974e-8707-4622-b9db-4c1f9ecc88b1 = replo_text_adc7974e-8707-4622-b9db-4c1f9ecc88b1 | default: default_replo_text_adc7974e-8707-4622-b9db-4c1f9ecc88b1 -%}
    "replo_text_adc7974e-8707-4622-b9db-4c1f9ecc88b1": {{ replo_text_adc7974e-8707-4622-b9db-4c1f9ecc88b1 | json }}, {%- assign replo_style_image_8744c99c-b940-4c93-a7eb-57d4d963f220 = section.settings['replo_style_image_8744c99c-b940-4c93-a7eb-57d4d963f220'] | image_url -%}
    {%- capture default_replo_style_image_8744c99c-b940-4c93-a7eb-57d4d963f220 -%}https://cdn.shopify.com/s/files/1/1100/3842/files/80sSwatch.jpg?v=1714766588{%- endcapture -%}
    {%- assign replo_style_image_8744c99c-b940-4c93-a7eb-57d4d963f220 = replo_style_image_8744c99c-b940-4c93-a7eb-57d4d963f220 | default: default_replo_style_image_8744c99c-b940-4c93-a7eb-57d4d963f220 -%}
    "replo_style_image_8744c99c-b940-4c93-a7eb-57d4d963f220": {{ replo_style_image_8744c99c-b940-4c93-a7eb-57d4d963f220 | json }}, {%- assign replo_text_72b06839-b946-4303-b90b-0e9b01d05cab = section.settings['replo_text_72b06839-b946-4303-b90b-0e9b01d05cab'] -%}
    {%- capture default_replo_text_72b06839-b946-4303-b90b-0e9b01d05cab -%}<p>X-Large<br></p>{%- endcapture -%}
    {%- assign replo_text_72b06839-b946-4303-b90b-0e9b01d05cab = replo_text_72b06839-b946-4303-b90b-0e9b01d05cab | default: default_replo_text_72b06839-b946-4303-b90b-0e9b01d05cab -%}
    "replo_text_72b06839-b946-4303-b90b-0e9b01d05cab": {{ replo_text_72b06839-b946-4303-b90b-0e9b01d05cab | json }}, {%- assign replo_text_db5959c3-9470-4073-8a47-39d5c2dedb92 = section.settings['replo_text_db5959c3-9470-4073-8a47-39d5c2dedb92'] -%}
    {%- capture default_replo_text_db5959c3-9470-4073-8a47-39d5c2dedb92 -%}<p>Add To Cart</p>{%- endcapture -%}
    {%- assign replo_text_db5959c3-9470-4073-8a47-39d5c2dedb92 = replo_text_db5959c3-9470-4073-8a47-39d5c2dedb92 | default: default_replo_text_db5959c3-9470-4073-8a47-39d5c2dedb92 -%}
    "replo_text_db5959c3-9470-4073-8a47-39d5c2dedb92": {{ replo_text_db5959c3-9470-4073-8a47-39d5c2dedb92 | json }}
    }</script>
  