
<main class="Customer" role="main">
<div class="Customer-container">

  <h1 class="Customer-formTitle">
    {{ 'customer.register.title' | t }}
  </h1>

  <div class="Customer-form js-create-account-form">

    {% form 'create_customer' %}
      {% liquid
      assign error_list = ""
      if form.errors
       for error in form.errors
        assign error_list = error_list | append: error | append: "|"
        endfor
      endif
    %}
      {% if form.errors %}
        <div class="o-formErrors">
          <p>{{ 'general.form.errors_were_encountered' | t }}</p>
          {{ form.errors | default_errors }}
        </div>
        <script>
          window.onload = function () {
            document.querySelector('.js-create-account-form input[aria-invalid="true"]').focus();
          };
        </script>
      {% endif %}

      <label for="first_name" class="Customer--label">
        {{ 'customer.register.first_name' | t }}
      </label>
      <input type="text" class="Customer--input" autocomplete="given-name" value="" name="customer[first_name]" id="first_name" size="30" />

      <label for="last_name" class="Customer--label">
        {{ 'customer.register.last_name' | t }}
      </label>
      <input type="text" class="Customer--input" autocomplete="family-name" value="" name="customer[last_name]" id="last_name" size="30" />

      <label for="email" class="Customer--label">
        {{ 'customer.register.email' | t }}*
      </label>
      <input type="email" class="Customer--input" autocomplete="email" value="" name="customer[email]" id="email" size="30"
      required
      aria-required="true"
      aria-invalid="{% if error_list contains "email" %}true{% else %}false{% endif %}"
      />

      <label for="password" class="Customer--label">
        {{ 'customer.register.password' | t }}*
      </label>
      <input type="password" class="Customer--input" value="" name="customer[password]" id="password" size="30"
      required
      aria-required="true"
      aria-invalid="{% if error_list contains "password" %}true{% else %}false{% endif %}"
      />

      <button type="submit" class="btn reverse Customer--submit registerCTA event-createAccount">
        {{ 'customer.register.submit' | t }}
      </button>

      <p class="Customer--registerLink">Already have an account?
      <a href="{{ routes.account_login_url }}">
        Log in
      </a></p>

    {% endform %}
  </div>

</div>
</main>
