<main class="Customer" role="main">
  <div class="Customer-container">
    <h1 class="Customer-formTitle">
      {{ 'customer.reset_password.heading' | t }}
    </h1>

    <div class="Customer-form">
      <p class="Customer--formInfo">
        {{ 'customer.reset_password.subhead' | t: email: email }}
      </p>

      {% form 'reset_customer_password' %}
        {% if form.errors %}
          <div class="o-formErrors">
            <p>{{ 'general.form.errors_were_encountered' | t }}</p>
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <label for="password" class="Customer--label">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password" class="Customer--input" name="customer[password]" id="password" value="">

        <label for="password_confirm" class="Customer--label">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input
          type="password"
          class="Customer--input"
          name="customer[password_confirmation]"
          id="password_confirm"
          value=""
        >

        <button
          type="submit"
          class="btn reverse Customer--submit"
          aria-label="{{ 'customer.reset_password.submit' | t }}"
        >
          {{ 'customer.reset_password.submit' | t }}
        </button>
      {% endform %}
    </div>
  </div>
</main>
