<!doctype html>
{% assign site_lang = shop.locale | default: 'en' %}
<!--[if lt IE 9]><html class="lt-ie9" lang="{{ site_lang }}"><![endif]-->
<!--[if IE 9]><html class="lt-ie10" lang="{{ site_lang }}"><![endif]-->
<!--[if gt IE 9]><!-->
  <html lang="{{ site_lang }}"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Resource hints -->
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://cdn.polyfill.io">
    <link
    rel="preconnect"
      href="https://fonts.googleapis.com"
      crossorigin>

    <!-- Meta -->
    {% liquid
    render 'meta'
    unless template contains 'blank'
      render 'meta-twitter-card'
      render 'meta-fb-open-graph'
      render 'meta-json-ld'
    endunless %}

    <!-- Stylesheets -->
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {% render 'inline-css' %}

    <!-- Custom header content -->
    {{ content_for_header }}
    <!-- End of custom header content -->
  </head>

  <body class="{{ template | handle | split: '-' | first | prepend: 'template-' }} {% if template == blank %}no-template{% endif %}" data-shopify-template="{{ template | handleize }}">

    <!-- Begin content-->
    <div class="column row">
      {{ content_for_layout }}
    </div>
    <!-- End content-->

  </body>
</html>
