<div class="article-slider--wrapper">
  {%- liquid
    assign featuredImage = section.settings.featuredCardImage
    assign featuredHeading = section.settings.featuredCardHeading
    assign link = section.settings.link | default: '' | strip
    assign button_text = section.settings.cta
    assign featuredSubHeading = section.settings.featuredCardSubHeading
    capture featured_image_sizes
      render 'print-image-sizes' with image: featuredImage
    endcapture
  -%}
  <div class="featuredCard__wrapper">
    <div class="featuredCard">
      <div
        class="featuredCard__background {% if featuredImage != blank %}lazyload{% endif %}"
        data-bgset="{{ featured_image_sizes }}"
        data-sizes="auto"
      ></div>
      <div class="featuredCard__dimmer"></div>
      <div class="featuredCard__content">
        <h3 class="featuredCard__title">{{ featuredHeading }}</h3>
        <p class="u-showMd">{{ featuredSubHeading }}</p>
        <a href="{{ link }}" class="btn"> {{ button_text }} </a>
      </div>
    </div>
  </div>

  <div class="featuredSlider" role="region" aria-label="carousel">
    <div role="region" aria-label="carousel" class="swiper articleSlider js-article-slider" carousel>
      <p class="sr-only">This is a carousel with scrollable slides. Use Next and Previous buttons to navigate.</p>

      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          {%- liquid
            assign articleImage = block.settings.articleimage
            assign articleTitle = block.settings.articletitle
            assign articleLink = block.settings.articlelink
            capture article_image_sizes
              render 'print-image-sizes' with image: articleImage
            endcapture
          -%}
          <div class="swiper-slide featuredSlider__article">
            <div
              class="featuredSlider__article-background {% if articleImage != blank %}lazyload{% endif %}"
              data-bgset="{{ article_image_sizes }}"
              data-sizes="auto"
            ></div>
            <div class="featuredSlider__article-dimmer"></div>
            <a href="{{ articleLink }}" class="featuredSlider__article-title" title="{{ articleTitle | escape }}">
              {{- articleTitle -}}
            </a>
          </div>
        {%- endfor -%}
      </div>
      <div class="featuredSlider-carousel-actions">
        <div class="featuredSlider-carousel-scrollbar-wrapper">
          <div class="swiper-scrollbar"></div>
        </div>
        <button aria-label="Previous slide" class="swiper-button-prev">{%- render 'icon-arrow-prev' -%}</button>
        <button aria-label="Next slide" class="swiper-button-next">{%- render 'icon-arrow-next' -%}</button>
      </div>
    </div>
  </div>
</div>

{%- schema %}
{
  "name": "Article Slider",
  "max_blocks": 6,
  "settings": [
    {
      "type": "image_picker",
      "id": "featuredCardImage",
      "label": "Featured Card Image"
    },
    {
      "type": "text",
      "id": "featuredCardHeading",
      "label": "Featured Card Heading",
      "default": "We exist to give generously"
    },
    {
      "type": "text",
      "id": "featuredCardSubHeading",
      "label": "Featured Card Sub-Heading",
      "default": "Founded in 2016 on the idea that business could be done differently. Find out more about who we are and why we exist at the link below."
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "cta",
      "label": "Button text",
      "default": "Read More"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "image_picker",
          "id": "articleimage",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "articletitle",
          "label": "Article Title",
          "default": "Bigger than Ever"
        },
        {
          "type": "url",
          "id": "articlelink",
          "label": "Article Link"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Article Slider",
      "settings": {}
    }
  ]
}
{%- endschema %}
