{% liquid
    assign image = section.settings.image
    assign subtitle = section.settings.subtitle
    assign title = section.settings.title
    assign text = section.settings.text
    assign button_label = section.settings.button_label
    assign button_link = section.settings.button_link
%}

{% if image != blank %}
  <section class="ArticleImageWithText">
    {%- capture image_sizes -%}
      {%- render 'print-image-sizes' with image -%}
    {%- endcapture -%}

    <div
      class="ArticleImageWithText-image {% if image_sizes != blank %}lazyload{% endif %}"
      data-bgset="{{ image_sizes }}"
      data-sizes="auto"></div>

    <div class="ArticleImageWithText-textContainer">
      <span class="ArticleImageWithText-subtitle">{{ subtitle }}</span>
      <h4 class="ArticleImageWithText-title">{{ title }}</h4>
      <div class="ArticleImageWithText-text">{{ text }}</div>

      {% if button_label != blank %}
        <a href="{{ button_link }}" class="ArticleImageWithText-button btn">{{ button_label }}</a>
      {% endif %}
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Article Image with Text",
    "class": "ArticleImageWithText-section",
    "settings": [
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Text Settings"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "BIGGER THAN EVER!"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "The Metallic Collection"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>It’s alluring, it’s chic, and it never goes out of style.<\/p>"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Shop Metallics"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Article Image with text",
        "settings": {}
      }
    ]
  }
{% endschema %}
