{% assign all_styles = '' %}

{% if section.blocks.size > 0 %}
<section class="BannerGrid-container">
  <div class="row">

    <ul class="BannerGrid-items BannerGrid-items--{{ section.id }}" data-item-count="{{ section.blocks.size }}">
      {%- for block in section.blocks -%}
        {%- liquid
          assign image = block.settings.image
          assign heading = block.settings.heading | default: ''
          assign subhead = block.settings.subhead | default: ''
          assign cta = block.settings.cta | default: '' | strip
          assign link = block.settings.link | default: '' | strip
          assign bg_color = block.settings.bg_color | default: settings.color_gray_70
          assign tint_color = block.settings.tint_color | default: settings.color_black
          assign tint_strength = block.settings.tint_strength | default: '0.2' | times: 1
          assign color = block.settings.color | default: settings.color_white
          assign cta_bg_color = block.settings.cta_bg_color | default: settings.color_button_background
          assign cta_color = block.settings.cta_color | default: settings.color_button_color
          assign cta_style = block.settings.cta_style | default: 'solid'

          assign css_class = '.BannerGrid-items--' | append: section.id | append: ' .BannerGrid-item--' | append: block.id -%}

        {%- capture item_styles -%}
          {{ css_class }} .BannerGrid-itemPlaceholder {
            background-color: {{ bg_color }};
          }
          {{ css_class }} .BannerGrid-itemDimmer {
            background-color: {{ tint_color }};
            opacity: {{ tint_strength }};
          }
          {{ css_class }}:hover .BannerGrid-itemDimmer,
          {{ css_class }} .BannerGrid-itemLink:focus .BannerGrid-itemDimmer {
            opacity: {{ tint_strength | times: 1.5 }};
          }
          {{ css_class }} .BannerGrid-itemHeading {
            color: {{ color }};
          }
          {{ css_class }} .BannerGrid-itemSubhead {
            color: {{ color }};
          }
          {{ css_class }} .BannerGrid-itemButton {
            background-color: {{ cta_bg_color }};
            border-color: {{ cta_bg_color }};
            color: {{ cta_color }};
          }
          {{ css_class }} .BannerGrid-itemButton.is-hollow {
            background-color: transparent;
            border-color: {{ cta_bg_color }};
            color: {{ cta_bg_color }};
          }
          {{ css_class }} .BannerGrid-itemButton.is-hollow:hover,
          {{ css_class }} .BannerGrid-itemButton.is-hollow:focus {
            background-color: {{ cta_bg_color }};
            border-color: {{ cta_bg_color }};
            color: {{ cta_color }};
          }
        {%- endcapture -%}
        {%- assign all_styles = all_styles | append: item_styles -%}

        {%- assign image_sizes = '' -%}
        {%- if image -%}
          {%- capture image_sizes -%}
            {% assign sizes = '320,480,640,800,960,1024,1280' | split: ',' %}
            {% for size in sizes %}
              {%- assign size_request = size | round -%}
              {{- image | image_url: width: size_request | append: ' ' | append: size | append: 'w' -}}
              {%- unless forloop.last -%},{%- endunless -%}
            {% endfor %}
          {%- endcapture -%}
          {%- assign image_sizes = image_sizes | strip_newlines | strip -%}
        {%- endif -%}
{{- '' -}}<li class="BannerGrid-item BannerGrid-item--{{ block.id }}">
          {% if link != blank and cta == blank %}
            <a class="BannerGrid-itemLink" href="{{ link }}">
          {% endif %}
            <div class="BannerGrid-itemPlaceholder o-placeholder lazyload" data-bgset="{{ image_sizes }}" data-sizes="auto">
              {% if heading != blank or subhead != blank or cta != blank %}
                <div class="BannerGrid-itemDimmer"></div>
                <div class="BannerGrid-caption">
                  {% if heading != blank %}
                    <div class="BannerGrid-itemHeading">
                      {{ heading }}
                    </div>
                  {% endif %}
                  {% if subhead != blank %}
                    <div class="BannerGrid-itemSubhead">
                      {{ subhead }}
                    </div>
                  {% endif %}
                  {% if cta != blank %}
                    <a class="BannerGrid-itemButton o-button {{ cta_style | prepend: 'is-' }}" href="{% if link != blank %}{{ link }}{% else %}/collections/all{% endif %}">
                      {{ cta }}
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% if link != blank and cta == blank %}
            </a>
          {% endif %}
        </li>
      {%- endfor -%}
    </ul>

  </div>
  <style>{{ all_styles }}</style>
</section>
{% endif %}

{% schema %}
  {
    "name": "Banner grid",
    "class": "BannerGrid IndexSection",
    "max_blocks": 3,
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#dddedc"
          },
          {
            "type": "color",
            "id": "tint_color",
            "label": "Tint color",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "tint_strength",
            "label": "Tint strength",
            "options": [
              { "value":   "0", "label": "No tint" },
              { "value": "0.1", "label": "10%" },
              { "value": "0.2", "label": "20%" },
              { "value": "0.3", "label": "30%" },
              { "value": "0.4", "label": "40%" },
              { "value": "0.5", "label": "50%" },
              { "value": "0.6", "label": "60%" },
              { "value": "0.7", "label": "70%" },
              { "value": "0.8", "label": "80%" },
              { "value": "0.9", "label": "90%" }
            ],
            "default": "0.2"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Banner block"
          },
          {
            "type": "text",
            "id": "subhead",
            "label": "Subheading",
            "default": "Tell your brand's story through images"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text color"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "cta",
            "label": "Button text",
            "default": "Shop now"
          },
          {
            "type": "color",
            "id": "cta_color",
            "label": "Button text color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "cta_bg_color",
            "label": "Button background color",
            "default": "#ffffff"
          },
          {
            "type": "radio",
            "id": "cta_style",
            "label": "Button style",
            "options": [
              { "value": "solid", "label": "Solid" },
              { "value": "hollow", "label": "Hollow" }
            ],
            "default": "solid"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Banner grid",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
