<section class="BlogList">
  {% for article in blog.articles %}
    {% liquid
      assign highlight = article.metafields.custom.blog_listing_highlight_card
      assign show_button = article.metafields.custom.blog_listing_show_button
    %}

    <article class="BlogListItem {% if highlight %}--highlight{% endif %}">
      {% if article.image %}
        {% capture article_image_sizes %}
          {{ article.image | image_url: width: 100 }} 100w,
          {{ article.image | image_url: width: 240 }} 240w,
          {{ article.image | image_url: width: 480 }} 480w,
          {{ article.image | image_url: width: 600 }} 600w,
          {{ article.image | image_url: width: 1024 }} 1024w,
          {{ article.image | image_url: width: 2048 }} 2048w
        {% endcapture %}

        <div class="BlogListItem-illustration">
          <div class="BlogListItem-illustrationPlaceholder o-placeholder lazyload" data-bgset="{{ article_image_sizes | strip_newlines | strip }}" data-sizes="auto"></div>
        </div>
      {% endif %}

      <div class="BlogListItem-overlay"></div>

      <div class="BlogListItem-content">
        <h4 class="BlogListItem-title">
          <a class="BlogListItem-titleLink" href="{{ article.url }}">
            {{ article.title }}
          </a>
        </h4>

        <div class="BlogListItem-information">
          {% if article.excerpt and article.excerpt != blank %}
            <div class="BlogListItem-excerpt o-rte">
              {{ article.excerpt | strip_html | truncate: 140, '...' }}
            </div>
          {% endif %}

          {% if show_button %}
            <a class="BlogListItem-link btn" href="{{ article.url }}">
              {{ 'blogs.article.read_more' | t }}
            </a>
          {% endif %}
        </div>
      </div>
    </article>
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Blog",
    "class": "Blog-section",
    "enabled_on": { "templates": ["blog"] },
    "settings": [],
    "presets": [
      {
        "name": "Blog",
        "settings": {}
      }
    ]
  }
{% endschema %}
