{% assign collection_handle = section.settings.collection_handle %}

{% if collection_handle != blank %}
  {% assign collection = collections[collection_handle] %}
  {% if collection %}
    <div class="Cart-upsells">
      <h2 class="product-grid__title">You may like</h2>
      <div role="region" aria-label="carousel" class="swiper-container">
        <div class="swiper-wrapper">
          {% for product in collection.products %}
            <div class="CartItem swiper-slide">
              <a
                href="{{ product.url }}"
                title="{{ product.title }}"
                class="CartItem-imageLink"
              >
                <div class="CartItem-imageWrapper">
                  <img
                    src="{{ product.featured_image.src | img_url: 'medium' }}"
                    alt="{{ product.featured_image.alt | escape }}"
                    class="product-grid__image {% if product.featured_image.src != blank %}lazyload{% endif %}"
                  >
                </div>
                <div class="CartItem-info Cart-upsells-info">
                  <div class="CartItem-title">{{ product.title }}</div>

                  {%- unless product.variant.title contains 'Default' -%}
                    <div class="CartItem-variantOptions">
                      {% for option in product.options_with_values -%}
                        {% for value in option.values -%}
                          <div>{{ value }}</div>
                          {%- unless forloop.last -%}/{%- endunless -%}
                        {%- endfor %}
                      {%- endfor %}
                    </div>
                  {%- endunless -%}

                  <span class="CartItem-total">{{ product.price | money }}</span>

                  {% assign current_variant = product.selected_or_first_available_variant %}
                  <div class="js-product-details Product-details">
                    <script type="application/json">
                      {
                      "currencyCode": {{ cart.currency.iso_code | json }},
                      "moneyFormat": {{ shop.money_format | json }}
                      }
                    </script>

                    {% if product.available %}
                      <form
                        action="/cart/add"
                        method="post"
                        data-product-id="{{ product.id }}"
                        {% if settings.ajax_cart_enabled == false %}
                          data-ajax-cart-disabled="disabled"
                        {% endif %}
                      >
                        <input
                          type="hidden"
                          name="variant_selector_dummy"
                          class="js-variant-selector-dummy single-option-selector"
                          data-product-id="{{ product.id }}"
                          value="{{ current_variant.id }}"
                        >

                        {% render 'product-options', product: product %}

                        <button
                          type="submit"
                          class="ProductCard-button"
                          name="add"
                          {% unless current_variant.available %}
                            disabled="disabled"
                          {% endunless %}
                        >
                          {{ 'products.product.add_to_cart' | t }}
                        </button>
                      </form>
                    {% endif %}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>

        <div class="Cart-upsells-carousel-actions">
          <div class="Cart-upsells-carousel-scrollbar-wrapper">
            <div class="swiper-scrollbar"></div>
          </div>
          <button aria-label="Previous slide" class="swiper-button-prev">{%- render 'icon-arrow-prev' -%}</button>
          <button aria-label="Next slide" class="swiper-button-next">{%- render 'icon-arrow-next' -%}</button>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Cart Upsell",
  "class": "js-cart-upsells-section",
  "settings": [
    {
      "type": "text",
      "id": "collection_handle",
      "label": "Select a collection",
      "info": "Select a collection to display on the page."
    }
  ],
  "presets": [
    {
      "name": "Cart Upsell",
      "settings": {}
    }
  ]
}
{% endschema %}
