{%- assign nav = linklists[section.settings.categories_linklist] -%}

{%- if nav != '' -%}
  <section class="CollCategories">
    <div class="column">
      <div class="CollCategories-content">
        {%- for item in nav.links -%}
          {%- liquid
            assign icon = item.object.featured_image

            if item.object.metafields.custom.navigation_icon != blank
              assign icon = item.object.metafields.custom.navigation_icon.value
            endif
          -%}

          <a href="{{ item.url }}" class="CollCategories-link {% if collection.url == item.url %} active {% endif %}" aria-label="{{ item.title }}">
            <img
              alt="{{ item.title }} image"
              src="{{ icon | image_url: width: 64 }}"
              width="32"
              height="32"
              loading="lazy"
            >

            {{ item.title }}
          </a>
        {%- endfor -%}
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
  {
    "name": "Collection categories",
    "class": "CollCategories-section",
    "settings": [
      {
        "type": "header",
        "content": "Collection Categories"
      },
      {
        "type": "link_list",
        "id": "categories_linklist",
        "label": "Collection Categories Menu"
      }
    ],
    "presets": [
      {
        "name": "Collection categories",
        "settings": {}
      }
    ]
  }
{% endschema %}
