<div class="collection-panels">
    <div class="collection-panels__content">
      {%- for block in section.blocks -%}
        {%- liquid
          assign link = block.settings.link | default: '' | strip
          assign button_text = block.settings.cta
          assign heading = block.settings.heading
          assign sub_heading = block.settings.sub_heading
          assign custom_label = block.settings.custom_label
          capture collection_panel_image
            render 'print-image-sizes', image: block.settings.image
          endcapture
        -%}
        <div class="collection-panels__block" role="group" aria-label="collection">
            <div class="collection-panels__image lazyload" data-sizes="auto" data-bgset="{{ collection_panel_image | strip_newlines | strip }}"></div>
            <div class="collection-panels__text">
              <h3><small>{{ custom_label }}</small> {{ heading }} </h3>
              <p> {{ sub_heading }} </p>
              <a href="{{ link }}" class="btn"> {{ button_text }} </a>
            </div>
          </div>
        {%- endfor -%}
    </div>

  </div>

    {%- schema %}
    {
      "name": "Collection Panels",
      "max_blocks" : 2,
      "settings": [],
      "blocks": [
        {
          "type": "image",
          "name": "collection_panels",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
                "type": "text",
                "id": "custom_label",
                "label": "Custom Label Text",
                "default": "Bigger than Ever"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading Text",
                "default": "The Leopard Collection"
            },
            {
                "type": "text",
                "id": "sub_heading",
                "label": "Sub-Heading Text",
                "default": "It’s alluring, it’s chic, and it never goes out of style."
            },
            {
              "type": "url",
              "id": "link",
              "label": "Button Link"
            },
            {
              "type": "text",
              "id": "cta",
              "label": "Button text",
              "default": "Shop Leopard"
            }
          ]
        }
      ],

      "presets": [{
          "name": "Collection Panels",
          "settings": {}
        }]
    }
    {% endschema -%}
