{%- liquid
    assign show_breadcrumbs = section.settings.show_breadcrumbs
    assign heading = section.settings.heading 
    assign desktop_image = section.settings.desktop_image
    assign mobile_image = section.settings.mobile_image
-%}

<section class="FAQsBanner">

    {%- capture desktop_image_sizes -%}
        {%- render 'print-image-sizes' with desktop_image -%}
    {%- endcapture -%}
    <div class="FAQsBanner-image imageDesktop {% if desktop_image_sizes != blank %}lazyload{% endif %}" data-bgset="{{ desktop_image_sizes }}" data-sizes="auto"></div>
    
    {%- capture mobile_image_sizes -%}
        {%- render 'print-image-sizes' with mobile_image -%}
    {%- endcapture -%}
    <div class="FAQsBanner-image imageMobile {% if mobile_image_sizes != blank %}lazyload{% endif %}" data-bgset="{{ mobile_image_sizes }}" data-sizes="auto"></div>

    <div class="FAQsBanner-container">
        {% if show_breadcrumbs %}
            {% render 'breadcrumbs' %}
        {% endif %}

        <div class="FAQsBanner--textWrapper">
            {% if heading %}
                <h1 class="FAQsBanner--heading">{{ heading }}</h1>
            {% endif %}

            <div class="FAQsBanner--buttons">
                {% for blocks in section.blocks %}
                    {%- liquid 
                        assign button_text = blocks.settings.button_text 
                        assign button_url = blocks.settings.button_url
                    -%}  
                    <a href="{{ button_url }}" class="FAQsBanner--button btn">{{ button_text }}</a>
                {% endfor %}
            </div>

        </div>
    </div>

</section>

{% schema %}
  {
  "name": "FAQs banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show Breadcrumbs?",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "How can we help you?"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }
  ],
  "blocks": [
    {
      "name": "Buttons",
      "type": "buttons",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Need to return a product?"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs banner"
    }
  ]
}  
{% endschema %}