<style>
.FAQsAccordion-tabs::after {
  background-image: url("{{ 'arrow.png' | asset_url }}");
}
</style>

<section class="FAQsAccordion">

    <div class="FAQsAccordion-tabs">

        <div class="FAQsAccordion-tabs--select">
            {% assign count = 0 %}
            <select id="js-select-tab">
            {% for block in section.blocks %}
                {% if block.type == "faqCategories" %}
                {% assign count = count | plus: 1 %}
                {%- assign category-name = block.settings.category-name | default: '' -%}
                <option title="{{ category-name }}" value="{{ category-name | handle }}">{{ category-name }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>

        <div class="FAQsAccordion-tabs--btns">
        {% assign count = 0 %}
        {% for block in section.blocks %}
            {% if block.type == "faqCategories" %}
            {% assign count = count | plus: 1 %}
            {%- assign category-name = block.settings.category-name | default: '' -%}
            <div class="FAQsAccordion-tabs--btn js-btn-tab{% if count == 1 %} active{% endif %}" title="{{ category-name }}" tabindex="0" id="{{ category-name | handle }}">{{ category-name }}</div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="FAQsAccordion-container">
        <div class="FAQsAccordion-heading js-accord-category">
            {% for block in section.blocks limit: 1 %}
                {% if block.type == "faqCategories" %}
                    {{ block.settings.category-name }}
                {% endif %}
            {% endfor %}

        </div>
          {% for block in section.blocks %}
            {% if block.type == "question" %}
              {%- assign category = block.settings.category | default: '' -%}
              {%- assign question = block.settings.question | default: '' -%}
              {%- assign answer = block.settings.answer | default: '' -%}
              <div class="FAQsAccordion-question js-accord-question" tabindex="-1" id="{{ category | handle }}" onclick="toggleAccordion.call(this)" title="{{ question }}">
                <h3 class="FAQsAccordion-title" tabindex=“-1”>
                  <button
                    type="button"
                    class="FAQAccordion__trigger "
                    aria-expanded="false"
                    aria-controls="accordion-body-{{ section.id }}-{{ forloop.index }}"
                    data-show-one="true"
                    tabindex=“0”
                    role=“button”
                  >
                    <span>{{ question }}</span>
                    <div class="FAQsAccordion--toggle">
                      <div class="plusminus" id="{{ category | handle }}"></div>
                    </div>
                  </button>
                </h3>

                <div class="FAQsAccordion-body">
                  {{ answer }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

    </div>

</section>

{% schema %}
  {
    "name": "FAQs accordion",
    "class": "FAQs-section",
    "enabled_on": { "templates": ["page"] },
    "settings": [
    ],
    "blocks": [
      {
        "name": "FAQ Category",
        "type": "faqCategories",
        "settings": [
          {
            "type": "text",
            "id": "category-name",
            "default": "Category",
            "label": "Category Name"
          }
        ]
      },
      {
        "name": "Question",
        "type": "question",
        "settings": [
          {
            "type": "text",
            "id": "category",
            "label": "Category",
            "default": "Category",
            "info": "Exact same name as the Category Name."
          },
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Lorem ipsum?"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer",
            "default": "<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>"
          }
        ]
      }
    ],
    "presets": [{
      "name": "FAQs accordion",
      "settings": {}
    }]
  }
{% endschema %}
