{%- assign s = section.settings -%}

{%- if s.menu != blank -%}
  <header-section class="HeaderNew-wrapper js-header-container" role="banner">
    <div class="HeaderNew-container">
      <div class="HeaderNew-menuButton js-toggle-mobile-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="HeaderNew-logo">
        <a tabindex="0" href="{{- shop.url -}}" class="HeaderNew-logoLink">
          {%- if s.logo != blank -%}
            <img
              tabindex="-1"
              role="img"
              src="{{- s.logo | image_url: width: 300 -}}"
              width="{{- s.logo.width -}}"
              height="{{- s.logo.height -}}"
              alt="{{- shop.name -}}"
              loading="eager"
              fetchpriority="high"
            >
          {%- else -%}
            {{- shop.name -}}
          {%- endif -%}
        </a>
      </div>
      <div class="HeaderNew-menu">
        <nav aria-label="Menu" class="HeaderNew-menuNav">
          <ul class="HeaderNew-menuList">
            {%- for link in s.menu.links -%}
              <li class="HeaderNew-menuItem">
                <a
                  href="{{- link.url -}}"
                  class="HeaderNew-menuLink js-nav-item-event-click{%- if link.links.size > 0 %} js-toggle-second-menu-handler{%- else %} HeaderNew-menuLink--empty{%- endif -%}"
                  data-title="{{- link.title | handleize -}}"
                  data-event-link="{{- link.url -}}"
                  data-event-title="{{- link.title -}}"
                  tabindex="0"
                >
                  {{- link.title -}}

                  {%- if link.links.size > 0 %}
                    {%- render 'svg-header-nav-arrow' -%}
                  {%- endif -%}
                </a>

                {%- if link.links.size > 0 %}
                  <div tabindex="-1" data-submenu="{{- link.title | handleize -}}" class="HeaderNew-menuSublistWrapper">
                    <div class="HeaderNew-menuSublistButtonReturn js-menu-return">
                      {%- render 'svg-header-nav-arrow' -%}
                      <span>
                        {{- 'header.menu.back_link' | t -}}
                      </span>
                    </div>
                    <div class="HeaderNew-menuSublisButton">
                      <span>
                        {{- link.title -}}
                      </span>
                      <a
                        href="{{- link.url -}}"
                        data-event-link="{{- link.url -}}"
                        data-event-title="{{- link.title -}}"
                        class="js-nav-item-event-click"
                      >
                        {{- 'header.menu.shop_all' | t -}}
                      </a>
                    </div>
                    <ul class="HeaderNew-menuSublist">
                      {%- for sublink in link.links -%}
                        {%- liquid
                          assign sublink_classes = 'HeaderNew-menuSublistLink js-nav-item-event-click'
                          assign is_submenu = false

                          if sublink.links.size > 0 and sublink.object.metafields.custom.navigation_icon == blank
                            assign is_submenu = true
                          endif

                          if sublink.links.size > 0 and sublink.object.metafields.custom.navigation_icon == blank
                            assign sublink_classes = sublink_classes | append: ' js-toggle-menu-sublist'
                          endif

                          if sublink.object.metafields.custom.navigation_icon != blank
                            assign sublink_classes = sublink_classes | append: ' HeaderNew-menuSublistLink--icon'
                          endif

                          if is_submenu
                            assign sublink_classes = sublink_classes | append: ' HeaderNew-menuSublistLink--submenu'
                          endif
                        -%}

                        <li tabindex="-1" class="HeaderNew-menuSublistItem">
                          <a
                            data-event-link="{{- sublink.url -}}"
                            data-event-title="{{- sublink.title | split: '/-/' | first -}}"
                            href="{{- sublink.url -}}"
                            class="{{- sublink_classes -}}"
                            data-title="{{- forloop.parentloop.index -}}--{{- sublink.title | split: '/-/' | first | handleize -}}"
                            tabindex="0"
                          >
                            <span>{{- sublink.title | split: '/-/' | first -}}</span>

                            {%- if sublink.object.metafields.custom.navigation_icon != blank -%}
                              <img
                                src="{{- sublink.object.metafields.custom.navigation_icon | image_url: width: 260 -}}"
                                alt="{{- sublink.title | split: '/-/' | first -}}"
                                width="260"
                                height="260"
                              >
                            {%- endif -%}

                            {%- if is_submenu -%}
                              {%- render 'svg-header-nav-arrow' -%}
                            {%- endif -%}
                          </a>

                          {%- if sublink.links.size > 0
                            and sublink.object.metafields.custom.navigation_icon == blank
                          -%}
                            {%- liquid
                              assign item_list_class = 'HeaderNew-productsListItems--three'
                              assign products_list_class = 'HeaderNew-productsList'
                            -%}

                            <div
                              tabindex="-1"
                              data-products-list="{{- forloop.parentloop.index -}}--{{- sublink.title | split: '/-/' | first | handleize -}}"
                              class="{{- products_list_class -}}"
                            >
                              <div class="HeaderNew-menuSublistButtonReturn js-menu-return">
                                {%- render 'svg-header-nav-arrow' -%}
                                <span>
                                  {{- 'header.menu.back_link' | t -}}
                                </span>
                              </div>
                              <div class="HeaderNew-productsListHeader">
                                <span>{{- sublink.title | split: '/-/' | first -}}</span>
                                {%- if sublink.url != '#' -%}
                                  {% liquid
                                    assign shop_all_text = 'header.menu.shop_all' | t

                                    if sublink.title contains '/-/'
                                      assign shop_all_text = sublink.title | split: '/-/' | last
                                    endif
                                  %}

                                  <a
                                    href="{{- sublink.url -}}"
                                    data-event-link="{{- sublink.url -}}"
                                    data-event-title="{{- shop_all_text -}}"
                                    class="js-nav-item-event-click"
                                    tabindex="-1"
                                  >
                                    {{- shop_all_text -}}
                                  </a>
                                {%- endif -%}
                              </div>
                              <div tabindex="-1" class="HeaderNew-productsListItems {{ item_list_class -}}">
                                {%- for third_level_link in sublink.links -%}
                                  <div class="HeaderNew-productsListItem">
                                    <a
                                      href="{{- third_level_link.url -}}"
                                      data-event-link="{{- third_level_link.url -}}"
                                      data-event-title="{{- third_level_link.title -}}"
                                      class="js-nav-item-event-click"
                                      tabindex="-1"
                                    >
                                      {%- liquid
                                        assign link_icon = third_level_link.object.featured_image

                                        if third_level_link.object.metafields.custom.navigation_icon != blank
                                          assign link_icon = third_level_link.object.metafields.custom.navigation_icon
                                        endif
                                      -%}

                                      {%- if link_icon != blank -%}
                                        <img
                                          src="{{- link_icon | image_url: width: 260 -}}"
                                          alt="{{- third_level_link.title -}}"
                                          width="260"
                                          height="260"
                                        >
                                      {%- endif -%}

                                      <span>{{- third_level_link.title -}}</span>
                                    </a>
                                  </div>
                                {%- endfor -%}
                              </div>

                              {%- if s.show_mobile_menus -%}
                                {%- if s.mobile_menu != blank or s.show_account_link -%}
                                  <ul class="HeaderNew-mobileMenuList">
                                    {%- if s.mobile_menu != blank -%}
                                      {%- for link in s.mobile_menu.links -%}
                                        <li>
                                          <a href="{{- link.url -}}">
                                            {{- link.title -}}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    {%- endif -%}

                                    {%- if s.show_account_link and s.show_mobile_menus -%}
                                      <li>
                                        <a href="{{- routes.account_url -}}">
                                          {{- 'header.actions.account' | t -}}
                                        </a>
                                      </li>
                                    {%- endif -%}
                                  </ul>
                                {%- endif -%}
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>

                    {%- if s.show_mobile_menus -%}
                      {%- if s.mobile_menu != blank or s.show_account_link -%}
                        <ul class="HeaderNew-mobileMenuList">
                          {%- if s.mobile_menu != blank -%}
                            {%- for link in s.mobile_menu.links -%}
                              <li>
                                <a href="{{- link.url -}}">
                                  {{- link.title -}}
                                </a>
                              </li>
                            {%- endfor -%}
                          {%- endif -%}

                          {%- if s.show_account_link -%}
                            <li>
                              <a href="{{- routes.account_url -}}">
                                {{- 'header.actions.account' | t -}}
                              </a>
                            </li>
                          {%- endif -%}
                        </ul>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>

        {%- if s.mobile_menu != blank or s.show_account_link -%}
          <ul class="HeaderNew-mobileMenuList">
            {%- if s.mobile_menu != blank -%}
              {%- for link in s.mobile_menu.links -%}
                <li>
                  <a href="{{- link.url -}}">
                    {{- link.title -}}
                  </a>
                </li>
              {%- endfor -%}
            {%- endif -%}

            {%- if s.show_account_link -%}
              <li>
                <a href="{{- routes.account_url -}}">
                  {{- 'header.actions.account' | t -}}
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
    <div aria-label="Action" class="HeaderNew-actions">
      <div class="HeaderNew-actionsItem HeaderNew-actionsItem--search">
        {%- liquid
          assign user_token = 'customer_'

          if customer
            assign user_token = user_token | append: customer.id
          else
            assign randomNumber = 'now' | date: '%N' | modulo: 10000000
            assign user_token = user_token | append: randomNumber
          endif
        -%}

        <div class="u-pos-static">
          {%- comment -%}
            Real search button — server-rendered, always visible from first paint.
            React attaches its click handler here; no duplicate button is rendered.
          {%- endcomment -%}
          <button
            type="button"
            class="Header__link-icon Header__link-icon--search js-search-btn"
            aria-label="Search"
          >
            <div class="Header-icon">
              <div class="o-placeholder">
                <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <title>Magnifying glass icon</title>
                  <circle cx="11.6863" cy="12" r="8" transform="rotate(-45 11.6863 12)" stroke="black" fill="#fff" />
                  <path d="M16.9287 17.6569L22.5856 23.3137" stroke="black" />
                </svg>
              </div>
            </div>
            <div class="Header-iconText">Search</div>
          </button>
          {%- comment -%} React mounts only the search modal overlay here {%- endcomment -%}
          <div class="js-search-container"></div>
        </div>
      </div>
      <a href="{{- routes.account_url -}}" class="HeaderNew-actionsItem HeaderNew-actionsItem--account">
        {{- 'header.actions.account' | t -}}
      </a>
      <a
        href="{{- routes.cart_url -}}"
        data-drawer-name="cart"
        class="HeaderNew-actionsItem HeaderNew-actionsItem--cart event-navCart js-offcanvas-trigger"
      >
        <div
          class="js-cart-item-count HeaderNew-cartItemCount"
          data-item-count="{{- cart.item_count -}}"
          aria-label="{{- 'header.menu.cart_count_label' | t: count: cart.item_count -}}"
        ></div>
        {% render 'svg-header-nav-cart' %}
      </a>
    </div>
    <div class="HeaderNew-overlay"></div>
  </header-section>
{%- endif -%}

{%- render 'offcanvas' -%}
<div class="ProductCustomizer-wrapper js-customizer-wrapper" data-customizer-close="true">
  <div id="spectrum-customizer"></div>
</div>

{% schema %}
{
  "name": "Header",
  "class": "HeaderNew",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "label": "Extra Mobile Menu",
      "info": "Will be displayed at the bottom of the mobile menu"
    },
    {
      "type": "checkbox",
      "id": "show_account_link",
      "label": "Show Account Link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_mobile_menus",
      "label": "Show extra mobile menus for the 2nd and 3rd level",
      "default": true
    }
  ]
}
{% endschema %}
