{% assign section_title = section.settings.section_title | truncate: 40 %}

<section class="InfoBlocks">

  <div class="InfoBlocks-block">
    <h3 class="InfoBlocks-title">{{ section_title }}</h3>
  </div>
    {% for blocks in section.blocks %}
        {% assign icon = blocks.settings.icon %}
        {% assign title = blocks.settings.title %}
        {% assign text = blocks.settings.text %}
        <div class="InfoBlocks-block">
            {% if icon != blank %}
                <div class="InfoBlocks--icon">
                    <img alt="{{blocks.settings.title}}" src="{{ icon | img_url: 'master' }}" loading="lazy" width="{{ icon.width }}" height="{{ icon.height }}">
                </div>
            {% endif %}
            <div class="InfoBlocks-info">
                {% if title != blank %}
                    <span class="InfoBlocks--title">{{ title }}</span>
                {% endif %}
                {% if text != blank %}
                    <div class="InfoBlocks--text">{{ text }}</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</section>

{% schema %}
  {
  "name": "Information Blocks",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Elevate your vibe with perfect cup",
      "info": "Max 40 characters"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Double Wall Insulation"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Information Blocks"
    }
  ]
}  
{% endschema %}