{% liquid
  assign customizable = false
  assign navColor = ''
  assign navSize = ''

  if product.tags contains 'customize:engrave' or product.tags contains 'customize:embroidery'
    assign customizable = true
  endif

  if product.handle contains 'medium'
    assign navSize = 'Medium'
  elsif product.handle contains 'large'
    assign navSize = 'Large'
  endif

  for tag in product.tags
    if tag contains 'color_name:'
      assign navColor = tag | remove: 'color_name:'
    endif
    if tag contains 'size:'
      assign navSize = tag | remove: 'size:'
    endif
  endfor
%}

{%- assign current_variant = product.selected_or_first_available_variant -%}
<section class="ProductStickyATC-wrapper">
  <div class="ProductStickyATC-product">
    {% render 'okendo-reviews-product-rating-summary', product: product %}
    <div class="ProductStickyATC-title-block">
      <h2>
        {{ product.title -}}
        <small class="js-product-navigation-variant-title">
          {{- product.selected_or_first_available_variant.title | replace: 'Default Title', '' -}}
        </small>
      </h2>
      <span class="ProductStickyATC-title-options"
        ><span id="js-sticky-color"></span> - <span id="js-sticky-size"></span
      ></span>
    </div>
  </div>
  <ul class="ProductStickyATC-elements">
    {%- if customizable == true and current_variant.available -%}
      {% unless customer.b2b? %}
        <li>
          <button
            role="button"
            type="button"
            id="stickyCustomizeBtn"
            class="btn gradient-hollow js-product-sticky-customise"
            data-handle="{{product.handle}}"
          >
            <span class="btn-hollow-inner">CUSTOMIZE</span>
          </button>
        </li>
      {% endunless %}
    {%- endif -%}
    <li>
      <button
        class="btn reverse btn-atc js-product-sticky-atc "
        {% if current_variant.available == false or product.tags contains 'coming_soon' %}
          disabled="disabled"
        {% endif %}
      >
        {% if product.tags contains 'coming_soon' %}
          <del>
            {{- product.selected_or_first_available_variant.price | money -}}
          </del>
          Coming Soon
        {% elsif current_variant.available == false %}
          <del>
            {{- product.selected_or_first_available_variant.price | money -}}
          </del>
          {{ 'products.product.sold_out' | t }}
        {% else %}
          {{ 'products.product.add_to_cart' | t }}
          <span>
            {{- product.selected_or_first_available_variant.price | money -}}
          </span>
        {% endif %}
      </button>
    </li>
  </ul>
  <div class="mob-shop-pay">
    {% form 'product', product %}
      {{ form | payment_terms }}
    {% endform %}
  </div>
</section>
{% schema %}
{
  "name": "Product Sticky ATC",
  "tag": "section",
  "class": "js-smp-reload js-product-sticky-atc ProductStickyATC ab-test-pdp-show",
  "settings": [],
  "presets": [
    {
      "name": "Product Sticky ATC",
      "settings": {}
    }
  ]
}
{% endschema %}
