{%- liquid
    assign current_size = ''
    assign current_color = ''
    assign smp_colors = section.settings.color_tag | split: ','
    for tag in product.tags
        if tag contains 'size_'
            assign current_size = tag
        endif

        if tag contains 'color_'
            assign current_color = tag
        endif
    endfor
-%}

<div id="ProductColorApp"></div>
<script id="js-color-json" type="application/json">
  {
    "current_size": {{ current_size | json }},
    "current_color": {{ current_color | json }},
    "product_type": {{ product.type | json }},
    "colors_tags": [
      {%- for tag in smp_colors -%}
        {%- liquid
        assign product_color_image = ''
        assign meta_color = tag | remove: 'color_' | replace: "_", "-"
        if tag != '' and shop.metaobjects['product_colors'][meta_color].color.value != blank
            assign product_color_image = shop.metaobjects['product_colors'][meta_color].color.value | image_url: width: 128
        endif
        -%}
        {
          "color_tag": {{ tag | json }},
          "color_icon": {{ product_color_image | json }}
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
</script>
{% schema %}
  {
    "name": "Product Colors",
    "tag": "section",
    "class": "js-product-color js-smp-reload",
    "settings": [
        {
            "type": "text",
            "id": "color_tag",
            "label": "Color Tags",
            "placeholder":"i.e. color_grey",
            "info": "Color tags present in products, separated by comma"
        }
    ],
    "presets": [{
      "name": "Product Colors",
      "settings": {}
    }]
  }
{% endschema %}
