{% assign popular_searches_title = section.settings.popular_searches_title %}
{% assign popular_categories_title = section.settings.popular_categories_title %}

{% assign links = section.blocks | where: 'type', 'link' %}
{% assign blocks = section.blocks | where: 'type', 'block' %}

<div class="PopularCategories-SearchList">
  <h3 id="PopularSearchesTitle" class="PopularCategories-title">{{ popular_searches_title }}</h3>

  {% if links.size > 0 %}
    <ul class="PopularCategories-SearchList-content" role="list" aria-labelledby="PopularSearchesTitle">
      {% for link in links %}
        {% assign link_title = link.settings.link_title %}
        {% assign url = link.settings.url %}

        <li class="PopularCategories-SearchList-item" role="listitem">
          <a href="{{ url }}" class="PopularCategories-SearchList-link">{{ link_title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<div class="PopularCategories-Categories js-menu-nav-categories">
  <h3 id="PopularCategoriesTitle" class="PopularCategories-title">{{ popular_categories_title }}</h3>

  <ul class="PopularCategories-CategoriesContainer u-showMd__flex" role="list" aria-labelledby="PopularCategoriesTitle">
    {% if blocks.size > 0 %}
      {% for block in blocks %}
        {% assign collection_title = block.settings.collection_title %}
        {% assign collection_image = block.settings.collection_image %}
        {% assign collection_link = block.settings.collection_link %}

        <li class="SearchCategory-block" role="listitem">
          <a href="{{ collection_link }}" class="SearchCategory-blockLink">
            {%- assign image_sizes = '' -%}
            {%- if collection_image -%}
              {%- capture image_sizes -%}
                {%- render 'print-image-sizes', image: collection_image -%}
              {%- endcapture -%}
            {%- endif -%}

            <div
              class="SearchCategory-blockImage {% if image_sizes != blank %}lazyload{% endif %}"
              data-bgset="{{ image_sizes }}"
              data-sizes="auto"
              aria-hidden="true"
            ></div>

            <div class="SearchCategory-blockTitle">{{ collection_title }}</div>
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>

  <div class="PopularCategories-CategoriesContainer u-hideMd">
    {% if blocks.size > 0 %}
      <div role="region" aria-label="carousel" class="swiper js-search-categories-slider">
        <ul class="swiper-wrapper">
          {% for block in blocks %}
            {% assign collection_title = block.settings.collection_title %}
            {% assign collection_image = block.settings.collection_image %}
            {% assign collection_link = block.settings.collection_link %}
            <li class="swiper-slide">
              <a href="{{ collection_link }}" class="SearchCategory-blockLink">
                {%- assign image_sizes = '' -%}
                {%- if collection_image -%}
                  {%- capture image_sizes -%}
                  {%- render 'print-image-sizes', image: collection_image -%}
                {%- endcapture -%}
                {%- endif -%}

                <div
                  class="SearchCategory-blockImage {% if image_sizes != blank %}lazyload{% endif %}"
                  data-bgset="{{ image_sizes }}"
                  data-sizes="auto"
                  aria-hidden="true"
                ></div>

                <div class="SearchCategory-blockTitle">{{ collection_title }}</div>
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="SearchCategory-actions">
          <button aria-label="Previous slide" class="swiper-button-prev">{%- render 'svg-arrow-prev' -%}</button>
          <div class="SearchCategory-scrollbar-wrapper">
            <div class="swiper-scrollbar"></div>
          </div>
          <button aria-label="Next slide" class="swiper-button-next">{%- render 'svg-arrow-next' -%}</button>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Searchbar Content",
  "class": "PopularCategories",
  "settings": [
    {
      "type": "text",
      "label": "Popular Searches title",
      "id": "popular_searches_title",
      "default": "Popular Searches"
    },
    {
      "type": "text",
      "label": "Popular Categories title",
      "id": "popular_categories_title",
      "default": "Popular Categories"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "label": "Link title",
          "id": "link_title",
          "default": "Coffee"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    },
    {
      "type": "block",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "collection_title",
          "label": "Collection title"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "Collection image"
        },
        {
          "type": "url",
          "id": "collection_link",
          "label": "Collection link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Searchbar Content",
      "settings": {}
    }
  ]
}
{% endschema %}
