<section class="section--full" id="signup-form">
  <div class="Signup-content--wrappper">
    <div class="Signup-content">
      <div class="Signup-title--container">
        <h2 class="Signup-copy">We’ll be back later today!</h2>
      </div>
  
      <div>
        {% capture button_label %}ENTER{% endcapture %}
        {% capture button_class %}{% endcapture %}
       
        {% if form.posted_successfully? %}
        {% capture button_label %}SUCCESS!{% endcapture %}
        {% capture button_class %}success{% endcapture %}
        {% endif %}

        <div class="Signup-form-submit--container">

          {% form 'storefront_password' %}
           <div role="alert">
          {{ form.errors | default_errors }}
          </div>
          <input class="Input" type="password" name="password" id="password" autofocus="" placeholder="Password" required="true"/>
  
  
          <div class='ButtonContainer'>
            <button class="Button {{ button_class }}" type="submit">
              {{ button_label }}
            </button>
          </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>

<div class="PolicyContainer" id="privacy-policy-content" style="display: none;">
  <div class="PolicyContent section--full">
    <div class="PolicyContentClose js-policies-close">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 26 26">
        <path d="M.796 1.873L2.656.012l23.337 23.336-1.861 1.861z"></path>
        <path d="M24.124.003l1.862 1.86L2.649 25.2.788 23.34z"></path>
      </svg>
    </div>
    <div class="reading-width">
      {{ shop.privacy_policy.body }}
    </div>
  </div>
</div>

<div class="PolicyContainer" id="terms-of-service-content" style="display: none;">
  <div class="PolicyContent section--full">
    <div class="PolicyContentClose js-policies-close">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 26 26">
        <path d="M.796 1.873L2.656.012l23.337 23.336-1.861 1.861z"></path>
        <path d="M24.124.003l1.862 1.86L2.649 25.2.788 23.34z"></path>
      </svg>
    </div>
    <div class="reading-width">
      {{ shop.terms_of_service.body }}
    </div>
  </div>
</div>


{% schema %}
{
"name": "Signup",
"class": "IndexSection",
"settings": []
}
{% endschema %}
