{%- liquid
    assign heading = section.settings.heading 
    assign button_text = section.settings.cta
    assign description = section.settings.description 
    assign mobile_image = section.settings.mobile_image
    assign desktop_image = section.settings.desktop_image
    assign video_source = section.settings.video_source
    assign link = section.settings.link | strip
    assign youtube_embed = section.settings.youtube_embed
    -%}
    
<section class="AboutHero">
    
    {%- capture desktop_image_sizes -%}
        {%- render 'print-image-sizes' with desktop_image -%}
    {%- endcapture -%}
    <div class="AboutHero-image desktop {% if desktop_image_sizes != blank %}lazyload{% endif %}" data-bgset="{{ desktop_image_sizes }}" data-sizes="auto"></div>
    
    {%- capture mobile_image_sizes -%}
        {%- render 'print-image-sizes' with mobile_image -%}
    {%- endcapture -%}
    <div class="AboutHero-image mobile {% if mobile_image_sizes != blank %}lazyload{% endif %}" data-bgset="{{ mobile_image_sizes }}" data-sizes="auto"></div>

    <div class="AboutHero-overlay"></div>

    <div class="AboutHero-container">
        <h1 class="AboutHero--title">{{ heading }}</h1>
        <p class="AboutHero--description">{{ description }}</p>
        <button id="playBtn" class="btn AboutHero--button">{% render 'svg-play-icon' %}{{ button_text }} </button>
    </div>

    <!-- The Modal -->
    <div id="videoModal" class="AboutHero-modal">
        <div class="AboutHero-modalContent">
            <span id="modalClose" class="AboutHero-modalClose">&times;</span>

            {% if video_source == 'mp4' %}
                {% if link %}
                    <video width="100%" height="auto" controls>
                        <source src="{{ link }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            {% else %}
                {% if youtube_embed %}
                    {{ youtube_embed }}
                {% endif %}
            {% endif %}

        </div>
    </div>

</section>
    
<script>
    var modal = document.getElementById("videoModal");
    var btn = document.getElementById("playBtn");
    var close = document.getElementById("modalClose");

    btn.onclick = function() {
        modal.style.display = "flex";
    }
    close.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }   
</script>


{%- schema %}
{
    "name": "Story - Hero",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "We exist to give generously"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Founded in 2016 on the idea that business could be done differently. Find out more about who we are and why we exist at the link below."
        },
        {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Image Desktop",
            "info": "Recommended aspect ratio is 1440:600. Under 5MB."
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Image Mobile",
            "info": "Recommended aspect ratio is 376:500. Under 5MB."
        },
        {
          "type": "select",
          "id": "video_source",
          "label": "Video source",
          "options": [
            {
              "value": "mp4",
              "label": "mp4"
            },
            {
              "value": "youtube",
              "label": "youtube"
            }
          ],
          "default": "mp4"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Button Link",
            "info": "Video URL"
        },
        {
          "type": "html",
          "id": "youtube_embed",
          "label": "Youtube embed",
          "default": "<iframe width='560' height='315' src='https://www.youtube.com/embed/-XVvY0E7Z6o' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen></iframe>",
          "info": "Go to the youtube video, click \"share\", choose Embed and copy the whole code"
        },
        {
            "type": "text",
            "id": "cta",
            "label": "Button text",
            "default": "Watch the video"
        }
    ],    
    "presets": [{
        "name": "Story - Hero"
    }]
}
{% endschema -%}
